src/404.jade
//- 404.jade
- var curPage = '404';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page.dark-preloader

        #preloader
        
        .wrapper

            .space-container404-mobile
                .space-container404-bg
                    a(href="/").header_menu_navigation_logo.header_menu_navigation_logo--404
                .space-container404-text
                    p.space-container404-desc
                        | К сожалению, страница, которую вы запрашиваете, не существует
                    p.space-container404-button
                        a(href="/")
                            | Перейти на главную
            
            .space-container404(id="space-container404")
                .space-container404-text
                    p.space-container404-desc
                        | К сожалению, страница, которую вы запрашиваете, не существует
                    p.space-container404-button
                        a(href="/")
                            | Перейти на главную
                .canvas#canvas404


        include jade/layout/scripts

static/404.html
<!DOCTYPE html>
<html>
   <head lang="ru">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Бронка | 404</title>
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="">
      <meta name="format-detection" content="telephone=no">
      <link rel="stylesheet" href="css/main.css">
      <link rel="icon" type="image/ico" href="favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap" rel="stylesheet">
   </head>
   <body class="page dark-preloader">
      <div id="preloader"></div>
      <div class="wrapper">
         <div class="space-container404-mobile">
            <div class="space-container404-bg"><a href="/" class="header_menu_navigation_logo header_menu_navigation_logo--404"></a></div>
            <div class="space-container404-text">
               <p class="space-container404-desc">К сожалению, страница, которую вы запрашиваете, не существует</p>
               <p class="space-container404-button"><a href="/">Перейти на главную</a></p>
            </div>
         </div>
         <div id="space-container404" class="space-container404">
            <div class="space-container404-text">
               <p class="space-container404-desc">К сожалению, страница, которую вы запрашиваете, не существует</p>
               <p class="space-container404-button"><a href="/">Перейти на главную</a></p>
            </div>
            <div id="canvas404" class="canvas"></div>
         </div>
      </div>
      
      <script src="https://vjs.zencdn.net/7.4.1/video.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG7Ek_3rhqNhoHvYdsXewKn3LC_uNzLuE"></script>
      <script src="https://www.youtube.com/iframe_api"></script>
      <script src="js/main.js"></script>
   </body>
</html>
