static/article.html
<!DOCTYPE html>
<html>
   <head lang="ru">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Бронка | Пресс-Центр</title>
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="">
      <meta name="format-detection" content="telephone=no">
      <link rel="stylesheet" href="css/main.css">
      <link rel="icon" type="image/ico" href="favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap" rel="stylesheet">
   </head>
   <body class="page">
      <div id="preloader"></div>
      <div class="wrapper">
         <div class="hamburger-container">
            <button type="button" aria-controls="navigation" class="hamburger hamburger--spring js-hamburger"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
         </div><!-- изменен -->
         <div class="header_buffer">           </div>
         <div class="header header--inner">
            <div class="row no-gutters align-items-lg-center">
               <div class="col-12 col-lg-4 popup-none">
                  <div data-aos="fade-in" data-aos-delay="0" data-aos-duration="1000" class="header_logo"><a href="/"><img src="img/logo-inner.svg"></a></div>
               </div>
               <div class="col-12 col-lg-8 popup-move">
                  <div id="navigation" class="header_menu"><a href="/" class="header_menu_navigation_logo"></a>
                     <ul class="inner inner-list">
                        <li data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000" class="outer outer--full"><a href="#" class="link link--company">О компании</a>
                           <ul class="animated animated--active animated--company">
                              <button type="button" id="company-back" class="arrow-back"></button>
                              <li class="first"><a href="/about.html" class="link">О нас</a></li>
                              <li><a href="/sovet.html" class="link">Руководство</a></li>
                              <li class="last"><a href="/policy.html" class="link link--policy">Политика обработки персональных данных</a></li>
                           </ul>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="100" data-aos-duration="1000" class="outer outer--full"><a href="#" class="link link--buisness">Наш бизнес</a>
                           <ul class="animated animated--active animated--buisness">
                              <button type="button" id="buisness-back" class="arrow-back"></button>
                              <li class="first"><a href="/object.html" class="link">Порт &laquo;Бронка&raquo;</a></li>
                              <li><a href="/object.html" class="link">Завод &laquo;Измерон&raquo;</a></li>
                              <li><a href="/object.html" class="link">Единый центр документов</a></li>
                              <li><a href="/object.html" class="link">Бронка девелопмент</a></li>
                              <li><a href="/object.html" class="link">Сеть бутиков</a></li>
                              <li><a href="/object.html" class="link">ПНК им. Кирова</a></li>
                              <li class="last"><a href="/object.html" class="link">Ресторанная группа</a></li>
                           </ul>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000" class="outer outer--full"><a href="#" class="link link--press">Пресс-центр</a>
                           <ul class="animated animated--active animated--press">
                              <button type="button" id="press-back" class="arrow-back"></button>
                              <li class="first"><a href="/press-center.html" class="link">Новости</a></li>
                              <li><a href="/photo-archive.html" class="link">Фотоархив</a></li>
                              <li class="last"><a href="/videos.html" class="link">Видеобанк</a></li>
                           </ul>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="200" data-aos-duration="1000"><a href="/work.html" class="link">Карьера</a></li>
                        <li data-aos="fade-in" data-aos-delay="250" data-aos-duration="1000"><a href="contacts.html" class="link">Контакты</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="section section--first-article-mobile">
            <div class="first-article-mobile-title">
               <p class="first-article-mobile-title-date"></p>
               <p class="first-article-mobile-title-name"></p>
            </div>
            <div class="first-article-mobile-text"></div>
            <div class="first-article-mobile-column"><img src="img/content/" class="first-article-mobile-image"></div>
         </div>
         <div class="section section--first-article no-gutters section--desktop">
            <div class="row no-gutters">
               <div style="background-image: url('img/content/video-preview.jpg')" data-aos="fade-in" data-aos-delay="0" data-aos-duration="1000" data-aos-anchor="#navigation" class="col-12 col-sm-6 col-lg-8 arcticle-box_preview vh-with-header order-2 order-sm-1"></div>
               <div class="col-12 col-sm-6 col-lg-4 arcticle-box_summary vh-with-header order-1 order-sm-2">
                  <div data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-anchor="#navigation" class="arcticle-box_summary_content">
                     <div class="press-center_news_item_date press-center_news_item_date--main">21 Апреля, 2019<span>15:06</span></div>
                     <h1 class="arcticle-box_title">В порту Бронка состоялась церемония имянаречения танкера «Кристоф де Маржери»</h1>
                     <div class="arcticle-box_summary_text">
                        <p>Владимир Путин присутствовал на церемонии имянаречения арктического танкера-газовоза «Кристоф де Маржери», флагмана в линейке из пятнадцати подобных судов. Мероприятие состоялось в глубоководном порту Санкт-Петербурга Бронка.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="section arcticle-box_tezies vh section--desktop">
            <div class="row no-gutters">
               <div class="col-12 col-sm-12 col-lg-4">
                  <div class="arcticle-box_numbers_item">
                     <div class="arcticle-box_numbers_item_count"><span data-to="2.1" data-dp="1" class="js-spincrement">0</span><small>м.</small></div>
                     <div class="arcticle-box_numbers_item_text">ПАО «Совкомфлот» предоставил подробную характеристику танкера-газовоза ледового класса</div>
                  </div>
                  <div class="arcticle-box_numbers_item">
                     <div class="arcticle-box_numbers_item_count"><span data-to="17.6" data-dp="1" class="js-spincrement">0</span><small> тыс.&nbsp;м<sup>3</sup></small></div>
                     <div class="arcticle-box_numbers_item_text">Вместимость</div>
                  </div>
               </div>
               <div class="col-12 col-sm-6 col-lg-4">
                  <div data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" class="arcticle-box_blockquote">
                     <div class="arcticle-box_blockquote_text">Проект способствует освоению глобальных пространств, формирует спрос на инновационные технологии в области транспортировки нефти, создает рабочие места в стране и за рубежом</div>
                     <div class="arcticle-box_blockquote_author">В. В. Путин</div>
                  </div>
               </div>
               <div class="col-12 col-sm-6 col-lg-4">
                  <div data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" class="arcticle-box_tezies_text">
                     <p>Тезисы от В. Путина:</p>
                     <ul>
                        <li>это современное судно будет носить имя французского предпринимателя, большого друга России, - Кристофа де Маржери,</li>
                        <li>К. де Маржери, обладая стратегическим видением, много сделал для укрепления дружеских с РФ и способствовал реализации целого ряда крупных совместных проектов в энергетической отрасли промышленности,</li>
                        <li>танкер - газовоз «Кристоф де Маржери» станет флагманом в линейке из 15 подобных судов, которые предназначены для проекта «Ямал СПГ», который РФ реализует с французскими и китайскими партнерами,</li>
                        <li>поздравляю всех с сегодняшним торжественным событием и желаю всего самого доброго всем нашим друзьям.</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="section section--content section--desktop">
            <div class="row">
               <div class="col-12 col-sm-10 col-lg-6 offset-lg-4">
                  <div data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" class="arcticle-box_content">
                     <p>ПАО «Совкомфлот» предоставил подробную характеристику танкера-газовоза ледового класса Arc7 «Кристоф де Маржери», торжественная церемония имянаречения которого состоялась при участии президента РФ Владимира Путина в порту Бронка (Санкт-Петербург) в рамках XXI Петербургского международного экономического форума 3 июня 2017 года.</p>
                     <p>Кристоф де Маржери» является пилотным судном серии 15 танкеров-газовозов, предназначенных для обслуживания проекта «Ямал СПГ». По своим характеристикам судно на сегодняшний день не имеет мировых аналогов. Ему присвоен ледовый класс Arc7 – самый высокий среди существующих транспортных судов. Газовоз способен самостоятельно преодолевать лед толщиной до 2,1 м.</p>
                     <p>Общая мощность главных дизелей судна составляет 64,35 МВт. Мощность пропульсивной установки газовоза – 45 МВт, что сопоставимо с мощностью современного атомного ледокола. Танкер оснащен винторулевыми колонками типа «Азипод». «Кристоф де Маржери» стал первым в мире судном высокого ледового класса, на котором установлено три «Азипода».</p>
                     <p>Мощные винторулевые колонки в совокупности с другим специальным оборудованием и механизмами, ледокольной формой носа и особым устройством мостика обеспечивают танкеру высокую ледопроходимость и маневренность, позволяя безостановочно двигаться носом во льдах толщиной до 1,5 м, а также использовать принцип движения кормой вперед (функция Double Acting Tanker, DAT), что необходимо для преодоления торосов и тяжелых ледовых полей в высоких широтах.</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="section no-gutters section--desktop">
            <div class="row">
               <div data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" class="col-12 arcticle-box_media js-carousel">
                  <div data-responsive='{"0":{"items":1}}' data-dots="true" class="arcticle-box_media_carousel owl-carousel"><!-- изменен -->
                     <div class="arcticle-box_media_carousel_item">
                        <div class="arcticle-box_media_carousel_item_preview"><img src="img/content/article1.jpg"></div><a href="#" class="arcticle-box_media_download text-uppercase">
                           <svg class="icon icon-jpg ">
                              <use xlink:href="svg/sprite.svg#jpg"></use>
                           </svg>Скачать фото</a>
                     </div>
                     <div class="arcticle-box_media_carousel_item">
                        <div class="arcticle-box_media_carousel_item_preview"><img src="img/content/article1.jpg"></div><a href="#" class="arcticle-box_media_download text-uppercase">
                           <svg class="icon icon-jpg ">
                              <use xlink:href="svg/sprite.svg#jpg"></use>
                           </svg>Скачать фото</a>
                     </div>
                     <div class="arcticle-box_media_carousel_item">
                        <div class="arcticle-box_media_carousel_item_preview"><img src="img/content/article1.jpg"></div><a href="#" class="arcticle-box_media_download text-uppercase">
                           <svg class="icon icon-jpg ">
                              <use xlink:href="svg/sprite.svg#jpg"></use>
                           </svg>Скачать фото</a>
                     </div>
                     <div class="arcticle-box_media_carousel_item">
                        <div class="arcticle-box_media_carousel_item_preview"><img src="img/content/article1.jpg"></div><a href="#" class="arcticle-box_media_download text-uppercase">
                           <svg class="icon icon-jpg ">
                              <use xlink:href="svg/sprite.svg#jpg"></use>
                           </svg>Скачать фото</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="section section--content section--desktop">
            <div class="row">
               <div class="col-12 col-lg-4"><!-- изменен --></div>
               <div class="col-12 col-sm-10 col-lg-6">
                  <div data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" class="arcticle-box_content">
                     <h4>Технические характеристики</h4>
                     <p>Радиус разворота судна, имеющего длину 299 м, во льду толщиной 1,7 м составляет 1760 м, что почти в два раза превышает проектные значения. «Кристоф де Маржери» может круглогодично следовать по Севморпути в западном от Ямала направлении и на протяжении шести месяцев (с июля по декабрь) – в восточном. Ранее период летней навигации в акватории восточного сектора Севморпути ограничивался четырьмя месяцами и исключительно при наличии ледокольного сопровождения. За один рейс судно способно перевезти 172 600 куб. м СПГ.  Танкер был построен с учетом требований Полярного кодекса и отличается высокой энергоэффективностью и соответствует самым высоким экологическим стандартам. Наряду с традиционными видами топлива, пропульсивная установка судна может использовать отпарной СПГ. По сравнению с обычным тяжелым топливом это позволяет существенно сократить выбросы в атмосферу вредных газов: на 90% оксидов серы (SOx), на 80% оксидов азота (NOx) и на 15% углекислого газа (CO2). Подобные показатели особо важны для судна, которому предстоит работать в арктическом регионе, где окружающая среда крайне чувствительна к внешним воздействиям.</p>
                     <h5>Экипаж судна</h5>
                     <p>Экипаж судна состоит из 29 российских моряков, включая 13 офицеров, каждый из которых обладает значительным опытом арктического судоходства и дополнительно прошел специализированную подготовку в учебно-тренажерном центре «Совкомфлота» в Санкт-Петербурге.  Высокая ледопроходимость и исключительные маневренные характеристики нового танкера подтвердились в ходе ледовых испытаний, которые состоялись в период с 19 февраля по 8 марта в Карском море и море Лаптевых, а также успешной тестовой швартовки судна к газовому терминалу в порту Сабетта на полуострове Ямал 28 марта 2017 года. Успешный заход танкера в порт Сабетта в условиях зимней навигации стал результатом совместной работы компаний «Совкомфлот», «НОВАТЭК», «Ямал СПГ», которая заняла около десяти лет. Проект такого масштаба и сложности потребовал глубокой проработки всех деталей с привлечением ведущих профильных научно-исследовательских и проектных организаций, как российских (Арктический и антарктический НИИ, Крыловский ГНЦ), так и международных (Aker Arctic Research Centre, Hamburg Ship Model Basin).</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="section no-gutters section--desktop">
            <div class="row">
               <div data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" class="col-12 arcticle-box_media js-carousel"><!-- изменен -->
                  <div data-responsive='{"0":{"items":1}}' data-dots="true" class="arcticle-box_media_carousel owl-carousel">
                     <div class="arcticle-box_media_carousel_item">
                        <div class="arcticle-box_media_carousel_video-box arcticle-box_media_carousel_video-box--xl">
                           <video width="100%" height="100%" controls poster="img/content/article2.jpg" id="my-player2" class="video-js video-js-full vjs-big-play-centered">
                              <source src="video/demo.mp4" type="video/mp4">
                           </video>
                        </div><a href="#" class="arcticle-box_media_download text-uppercase">
                           <svg class="icon icon-video ">
                              <use xlink:href="svg/sprite.svg#video"></use>
                           </svg>Скачать видео</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="section section--content section--desktop">
            <div class="row">
               <div class="col-12 col-lg-4"><!-- изменен --></div>
               <div class="col-12 col-sm-10 col-lg-6">
                  <div data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" class="arcticle-box_content">
                     <p>Отправной точкой для реализации морской транспортной составляющей проекта «Ямал СПГ» стал опыт успешной эксплуатации судов «Совкомфлота» в рамках крупных нефтегазовых проектов в Баренцевом и Печорском морях («Варандей и «Приразломное» соответственно), а также экспериментальные транзитные рейсы в акватории Севморпути, которые «Совкомфлот» провел в 2010-2011 годах совместно с «НОВАТЭКом» и другими нефтегазовыми компаниями при поддержке Минтранса РФ и «Атомфлота». В ходе этих рейсов было доказано, что использовать высокоширотные трассы в качестве транспортного коридора для крупнотоннажных судов технически возможно и экономически целесообразно, а также был освоен новый глубоководный маршрут севернее архипелага Новосибирских островов.</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="section no-gutters section--graphic">
            <div class="row no-gutters">
               <div class="col-12 col-lg-6 bg-blue-dark order-2 order-lg-1">
                  <div class="arcticle-box_tech-container circle-graphic-container">
                     <div class="arcticle-box_tech circle-graphic-box_tech">
                        <div class="arcticle-box_tech_count circle-graphic-box_tech_count"><span data-to="1.9" data-dp="1" class="js-spincrement">1,9</span><small>млн.</small></div>
                        <div class="arcticle-box_tech_text circle-graphic-box_tech_text">Производственная мощность</div>
                        <div id="pie_0" data-pie="100" class="piesite"></div>
                     </div>
                     <div class="arcticle-box_tech_desc">Порт «Бронка» – многофункциональный современный порт</div>
                  </div>
               </div>
            </div>
            <div class="row no-gutters">
               <div class="col-12 col-lg-6 bg-blue-dark-hide order-2 order-lg-1">
                  <div class="arcticle-box_tech-container circle-graphic-container">
                     <div class="arcticle-box_tech circle-graphic-box_tech">
                        <div class="arcticle-box_tech_count circle-graphic-box_tech_count"><span data-to="1.9" data-dp="1" class="js-spincrement">1,9</span><small>млн.</small></div>
                        <div class="arcticle-box_tech_text circle-graphic-box_tech_text">Производственная мощность</div>
                        <div id="pie_0" data-pie="100" class="piesite"></div>
                     </div>
                     <div class="arcticle-box_tech_desc">Порт «Бронка» – многофункциональный современный порт</div>
                  </div>
               </div>
               <div class="col-12 col-lg-6 bg-blue order-1 order-lg-2">
                  <div class="arcticle-box_stats">
                     <div class="arcticle-box_stats_item row align-items-center">
                        <div class="col-12 col-sm-6 col-lg-7">
                           <big><span data-to="90" class="js-spincrement">0</span>+</big>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-5">Площадь (Га)</div>
                     </div>
                     <div class="arcticle-box_stats_item row align-items-center">
                        <div class="col-12 col-sm-6 col-lg-7">
                           <big><span data-to="28" class="js-spincrement">0</span>+</big>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-5">Груженые  контейнеры (тыс.)</div>
                     </div>
                     <div class="arcticle-box_stats_item row align-items-center">
                        <div class="col-12 col-sm-6 col-lg-7">
                           <big><span data-to="1200" class="js-spincrement">0</span>+</big>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-5">Контейнерный терминал (м)</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="news" style="background-color: #f4f4f4;" class="section section--newslist-detail section--newslist-detail-article js-section--newslist">
            <ul class="share-panel">
               <li><a href="#">
                     <svg class="icon icon-share ">
                        <use xlink:href="svg/sprite.svg#share"></use>
                     </svg><span>Поделиться в соц.сетях</span></a></li>
               <li><a href="#">
                     <svg class="icon icon-print ">
                        <use xlink:href="svg/sprite.svg#print"></use>
                     </svg><span>Версия для печати</span></a></li>
               <li><a href="#">
                     <svg class="icon icon-telegram ">
                        <use xlink:href="svg/sprite.svg#telegram"></use>
                     </svg><span>Обратная связь</span></a></li>
               <li><a href="#">
                     <svg class="icon icon-favorite ">
                        <use xlink:href="svg/sprite.svg#favorite"></use>
                     </svg><span>В избранное</span></a></li>
            </ul>
            <h3 class="newslist-mobile-article">Другие новости &laquo;Бронка Девелопмент&raquo;</h3><!-- изменен -->
            <div class="press-center_news_list row justify-content-between press-center_news_list--press">
               <div class="col-sm filter-news-all js-filter-news-all">
                  <div class="press-center_news_item">
                     <div class="press-center_news_item_preview">
                        <div style="background-image: url('img/content/news-br1.jpg')" class="press-center_news_item_preview_img"></div>
                     </div>
                     <div class="press-center_news_item_summary">Порт «Бронка» стал единственным портом в России, способным осуществлять перевалку крупногабаритного груза массой 500 тонн<span class="press-center_news_item_date">14 Октября, 2019</span></div><a href="/article.html" class="press-center_news_item_link"></a>
                  </div>
               </div>
               <div class="col-sm filter-news-all js-filter-news-all">
                  <div class="press-center_news_item">
                     <div class="press-center_news_item_preview">
                        <div style="background-image: url('img/content/news-br2.jpg')" class="press-center_news_item_preview_img"></div>
                     </div>
                     <div class="press-center_news_item_summary">В ГУМРФ им. адмирала С.О. Макарова открылась новая учебная аудитория современной портовой инфраструктуры России<span class="press-center_news_item_date">02 Сентября, 2019</span></div><a href="/article.html" class="press-center_news_item_link"></a>
                  </div>
               </div>
               <div class="col-sm filter-news-all js-filter-news-all">
                  <div class="press-center_news_item">
                     <div class="press-center_news_item_preview">
                        <div style="background-image: url('img/content/news-br3.jpg')" class="press-center_news_item_preview_img"></div>
                     </div>
                     <div class="press-center_news_item_summary">Подписано трехстороннее соглашение о реализации проекта по созданию транспортно-логистического центра «Бронка»<span class="press-center_news_item_date">06 Июня, 2019</span></div><a href="/article.html" class="press-center_news_item_link"></a>
                  </div>
               </div>
               <div class="col-sm filter-news-all js-filter-news-all">
                  <div class="press-center_news_item">
                     <div class="press-center_news_item_preview">
                        <div style="background-image: url('img/content/news-br4.jpg')" class="press-center_news_item_preview_img"></div>
                     </div>
                     <div class="press-center_news_item_summary">В порту «Бронка» продемонстрирована инновационная технология перегрузки насыпных и навалочных грузов<span class="press-center_news_item_date">26 Апреля, 2019</span></div><a href="/article.html" class="press-center_news_item_link"></a>
                  </div>
               </div>
            </div>
            <div class="press-center-article-buttons"><a href="/news.html" class="press-center-article-button">
                  <p class="press-center-article-text">Все новости "Бронка Девелопмент"</p></a><a href="/news.html" class="press-center-article-link">
                  <p class="press-center-article-link-text">Все новости "Бронка Групп"</p></a></div>
         </div>
         <div class="section section--footer section--footer-article">
            <div class="footer">
               <div class="footer_content row no-gutters justify-content-between">
                  <div class="col-12 col-sm-3 col-lg-auto">
                     <div class="footer_content_item footer_content_item--copyright">© bronkagroup, 2019</div>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-auto">
                     <div class="footer_content_item footer_content_item--links"><a href="/sitemap.html" class="footer_content-link footer_content-link--main">Карта сайта</a><a href="/policy.html" class="footer_content-link footer_content-link--main">Политика обработки персональных данных</a><a href="/contacts.html" class="footer_content-link footer_content-link--main">Контакты</a><a id="feedback-btn" href="mailto:pr@bronkagroup.ru" class="footer_content-button">Обратная связь</a></div>
                     <div class="footer_content_item--button"><a href="mailto:pr@bronkagroup.ru" class="footer_content_item-btn">Обратная связь</a></div>
                  </div>
                  <div class="col-12 col-sm-3 col-lg-auto"><!-- изменен -->
                     <div class="footer_content_item footer_content_item--feedback d-lg-none text-center">Обратная связь</div><a href="mailto:pr@bronkagroup.ru" class="footer_content_item--feedback-link">Обратная связь</a>
                     <div class="footer_content_item footer_content_item--links footer_content_item--socials"><a href="https://www.instagram.com/bronkagroup/" target="_blank" class="footer_content-link footer_content-link--main">Instagram</a><a href="https://www.facebook.com/BronkaGroup/" target="_blank" class="footer_content-link footer_content-link--main">Facebook</a><a href="https://www.youtube.com/channel/UC0du2hDSIY769ZhMblL_HMw" target="_blank" class="footer_content-link footer_content-link--main">Youtube</a></div>
                  </div>
                  <div class="col-12 col-sm-4 col-lg-auto footer-search-field">
                     <div class="footer_content_item footer_content_item--search footer_content_item--search-other">
                        <form action="" class="footer_form">
                           <input type="text" placeholder="Поиск" id="form_control" class="form_control form_control--other">
                           <button type="button" class="btn">
                              <svg class="icon icon-search ">
                                 <use xlink:href="svg/sprite.svg#search"></use>
                              </svg>
                           </button>
                        </form>
                     </div>
                  </div>
                  <div class="col-12 col-sm-4 col-lg-auto">
                     <div class="footer_content_item footer_content_item--authors"><a href="#" target="_blank">Разработка сайта – cake.ru</a></div>
                  </div>
               </div>
            </div>
            <script src="https://unpkg.com/swiper/js/swiper.js"></script>
            <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
         </div>
      </div>
      
      <script src="https://vjs.zencdn.net/7.4.1/video.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG7Ek_3rhqNhoHvYdsXewKn3LC_uNzLuE"></script>
      <script src="https://www.youtube.com/iframe_api"></script>
      <script src="js/main.js"></script>
   </body>
</html>

src/article.jade
//- article.jade
- var curPage = 'Пресс-Центр';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page

        #preloader

        .wrapper
            include jade/layout/header
            .section.section--first-article-mobile
                include jade/layout/first-article-mobile

            .section.section--first-article.no-gutters.section--desktop
                .row.no-gutters
                    .col-12.col-sm-6.col-lg-8.arcticle-box_preview.vh-with-header.order-2.order-sm-1(style="background-image: url('img/content/video-preview.jpg')",data-aos="fade-in",data-aos-delay="0",data-aos-duration="1000",data-aos-anchor="#navigation")
                    .col-12.col-sm-6.col-lg-4.arcticle-box_summary.vh-with-header.order-1.order-sm-2
                        .arcticle-box_summary_content(data-aos="fade-up",data-aos-delay="50",data-aos-duration="1000",data-aos-anchor="#navigation")
                            .press-center_news_item_date.press-center_news_item_date--main
                                | 21 Апреля, 2019
                                span
                                    | 15:06
                            h1.arcticle-box_title
                                | В порту Бронка состоялась церемония имянаречения танкера «Кристоф де Маржери»
                            .arcticle-box_summary_text
                                p
                                    | Владимир Путин присутствовал на церемонии имянаречения арктического танкера-газовоза «Кристоф де Маржери», флагмана в линейке из пятнадцати подобных судов. Мероприятие состоялось в глубоководном порту Санкт-Петербурга Бронка.
            .section.arcticle-box_tezies.vh.section--desktop
                .row.no-gutters
                    .col-12.col-sm-12.col-lg-4
                        .arcticle-box_numbers_item
                            .arcticle-box_numbers_item_count
                                span.js-spincrement(data-to="2.1",data-dp="1")
                                    | 0
                                small
                                    | м.
                            .arcticle-box_numbers_item_text
                                | ПАО «Совкомфлот» предоставил подробную характеристику танкера-газовоза ледового класса
                        .arcticle-box_numbers_item
                            .arcticle-box_numbers_item_count
                                span.js-spincrement(data-to="17.6",data-dp="1")
                                    | 0
                                small
                                    |  тыс.&nbsp;м
                                    sup
                                        | 3
                            .arcticle-box_numbers_item_text
                                | Вместимость
                    .col-12.col-sm-6.col-lg-4
                        .arcticle-box_blockquote(data-aos="fade-up",data-aos-delay="50",data-aos-duration="1000")
                            .arcticle-box_blockquote_text
                                | Проект способствует освоению глобальных пространств, формирует спрос на инновационные технологии в области транспортировки нефти, создает рабочие места в стране и за рубежом
                            .arcticle-box_blockquote_author
                                | В. В. Путин
                    .col-12.col-sm-6.col-lg-4
                        .arcticle-box_tezies_text(data-aos="fade-up",data-aos-delay="100",data-aos-duration="1000")
                            p
                                | Тезисы от В. Путина:
                            ul
                                li
                                    | это современное судно будет носить имя французского предпринимателя, большого друга России, - Кристофа де Маржери,
                                li
                                    | К. де Маржери, обладая стратегическим видением, много сделал для укрепления дружеских с РФ и способствовал реализации целого ряда крупных совместных проектов в энергетической отрасли промышленности,
                                li
                                    | танкер - газовоз «Кристоф де Маржери» станет флагманом в линейке из 15 подобных судов, которые предназначены для проекта «Ямал СПГ», который РФ реализует с французскими и китайскими партнерами,
                                li
                                    | поздравляю всех с сегодняшним торжественным событием и желаю всего самого доброго всем нашим друзьям.
            .section.section--content.section--desktop
                .row
                    .col-12.col-sm-10.col-lg-6.offset-lg-4
                        .arcticle-box_content(data-aos="fade-up",data-aos-delay="100",data-aos-duration="1000")
                            p
                                | ПАО «Совкомфлот» предоставил подробную характеристику танкера-газовоза ледового класса Arc7 «Кристоф де Маржери», торжественная церемония имянаречения которого состоялась при участии президента РФ Владимира Путина в порту Бронка (Санкт-Петербург) в рамках XXI Петербургского международного экономического форума 3 июня 2017 года.
                            p
                                | Кристоф де Маржери» является пилотным судном серии 15 танкеров-газовозов, предназначенных для обслуживания проекта «Ямал СПГ». По своим характеристикам судно на сегодняшний день не имеет мировых аналогов. Ему присвоен ледовый класс Arc7 – самый высокий среди существующих транспортных судов. Газовоз способен самостоятельно преодолевать лед толщиной до 2,1 м.
                            p
                                | Общая мощность главных дизелей судна составляет 64,35 МВт. Мощность пропульсивной установки газовоза – 45 МВт, что сопоставимо с мощностью современного атомного ледокола. Танкер оснащен винторулевыми колонками типа «Азипод». «Кристоф де Маржери» стал первым в мире судном высокого ледового класса, на котором установлено три «Азипода».
                            p
                                | Мощные винторулевые колонки в совокупности с другим специальным оборудованием и механизмами, ледокольной формой носа и особым устройством мостика обеспечивают танкеру высокую ледопроходимость и маневренность, позволяя безостановочно двигаться носом во льдах толщиной до 1,5 м, а также использовать принцип движения кормой вперед (функция Double Acting Tanker, DAT), что необходимо для преодоления торосов и тяжелых ледовых полей в высоких широтах.

            .section.no-gutters.section--desktop
                .row
                    .col-12.arcticle-box_media.js-carousel(data-aos="fade-up",data-aos-delay="100",data-aos-duration="1000")
                        .arcticle-box_media_carousel.owl-carousel(data-responsive={0:{ items:1 }}, data-dots="true")
                            <!-- изменен -->
                            .arcticle-box_media_carousel_item
                                .arcticle-box_media_carousel_item_preview
                                    img(src="img/content/article1.jpg")
                                a(href="#").arcticle-box_media_download.text-uppercase
                                    +icon("jpg", "")
                                    | Скачать фото
                            .arcticle-box_media_carousel_item
                                .arcticle-box_media_carousel_item_preview
                                    img(src="img/content/article1.jpg")
                                a(href="#").arcticle-box_media_download.text-uppercase
                                    +icon("jpg", "")
                                    | Скачать фото
                            .arcticle-box_media_carousel_item
                                .arcticle-box_media_carousel_item_preview
                                    img(src="img/content/article1.jpg")
                                a(href="#").arcticle-box_media_download.text-uppercase
                                    +icon("jpg", "")
                                    | Скачать фото
                            .arcticle-box_media_carousel_item
                                .arcticle-box_media_carousel_item_preview
                                    img(src="img/content/article1.jpg")
                                a(href="#").arcticle-box_media_download.text-uppercase
                                    +icon("jpg", "")
                                    | Скачать фото

            .section.section--content.section--desktop
                .row
                    .col-12.col-lg-4
                        <!-- изменен -->
                    .col-12.col-sm-10.col-lg-6
                        .arcticle-box_content(data-aos="fade-up",data-aos-delay="100",data-aos-duration="1000")
                            h4
                                | Технические характеристики
                            p
                                | Радиус разворота судна, имеющего длину 299 м, во льду толщиной 1,7 м составляет 1760 м, что почти в два раза превышает проектные значения. «Кристоф де Маржери» может круглогодично следовать по Севморпути в западном от Ямала направлении и на протяжении шести месяцев (с июля по декабрь) – в восточном. Ранее период летней навигации в акватории восточного сектора Севморпути ограничивался четырьмя месяцами и исключительно при наличии ледокольного сопровождения. За один рейс судно способно перевезти 172 600 куб. м СПГ.  Танкер был построен с учетом требований Полярного кодекса и отличается высокой энергоэффективностью и соответствует самым высоким экологическим стандартам. Наряду с традиционными видами топлива, пропульсивная установка судна может использовать отпарной СПГ. По сравнению с обычным тяжелым топливом это позволяет существенно сократить выбросы в атмосферу вредных газов: на 90% оксидов серы (SOx), на 80% оксидов азота (NOx) и на 15% углекислого газа (CO2). Подобные показатели особо важны для судна, которому предстоит работать в арктическом регионе, где окружающая среда крайне чувствительна к внешним воздействиям.

                            h5
                                | Экипаж судна
                            p
                                | Экипаж судна состоит из 29 российских моряков, включая 13 офицеров, каждый из которых обладает значительным опытом арктического судоходства и дополнительно прошел специализированную подготовку в учебно-тренажерном центре «Совкомфлота» в Санкт-Петербурге.  Высокая ледопроходимость и исключительные маневренные характеристики нового танкера подтвердились в ходе ледовых испытаний, которые состоялись в период с 19 февраля по 8 марта в Карском море и море Лаптевых, а также успешной тестовой швартовки судна к газовому терминалу в порту Сабетта на полуострове Ямал 28 марта 2017 года. Успешный заход танкера в порт Сабетта в условиях зимней навигации стал результатом совместной работы компаний «Совкомфлот», «НОВАТЭК», «Ямал СПГ», которая заняла около десяти лет. Проект такого масштаба и сложности потребовал глубокой проработки всех деталей с привлечением ведущих профильных научно-исследовательских и проектных организаций, как российских (Арктический и антарктический НИИ, Крыловский ГНЦ), так и международных (Aker Arctic Research Centre, Hamburg Ship Model Basin).

            .section.no-gutters.section--desktop
                .row
                    .col-12.arcticle-box_media.js-carousel(data-aos="fade-up",data-aos-delay="100",data-aos-duration="1000")
                        <!-- изменен -->
                        .arcticle-box_media_carousel.owl-carousel(data-responsive={0:{ items:1 }}, data-dots="true")
                            .arcticle-box_media_carousel_item
                                .arcticle-box_media_carousel_video-box.arcticle-box_media_carousel_video-box--xl
                                    video(width="100%",height="100%",controls,poster='img/content/article2.jpg')#my-player2.video-js.video-js-full.vjs-big-play-centered
                                        source(src="video/demo.mp4",type="video/mp4")
                                a(href="#").arcticle-box_media_download.text-uppercase
                                    +icon("video", "")
                                    | Скачать видео

            .section.section--content.section--desktop
                .row
                    .col-12.col-lg-4
                        <!-- изменен -->
                    .col-12.col-sm-10.col-lg-6
                        .arcticle-box_content(data-aos="fade-up",data-aos-delay="100",data-aos-duration="1000")
                            p
                                | Отправной точкой для реализации морской транспортной составляющей проекта «Ямал СПГ» стал опыт успешной эксплуатации судов «Совкомфлота» в рамках крупных нефтегазовых проектов в Баренцевом и Печорском морях («Варандей и «Приразломное» соответственно), а также экспериментальные транзитные рейсы в акватории Севморпути, которые «Совкомфлот» провел в 2010-2011 годах совместно с «НОВАТЭКом» и другими нефтегазовыми компаниями при поддержке Минтранса РФ и «Атомфлота». В ходе этих рейсов было доказано, что использовать высокоширотные трассы в качестве транспортного коридора для крупнотоннажных судов технически возможно и экономически целесообразно, а также был освоен новый глубоководный маршрут севернее архипелага Новосибирских островов.


            .section.no-gutters.section--graphic
                .row.no-gutters
                    .col-12.col-lg-6.bg-blue-dark.order-2.order-lg-1
                        .arcticle-box_tech-container.circle-graphic-container
                            .arcticle-box_tech.circle-graphic-box_tech
                                .arcticle-box_tech_count.circle-graphic-box_tech_count
                                    span.js-spincrement(data-to="1.9",data-dp="1")
                                        | 1,9
                                    small
                                        | млн.
                                .arcticle-box_tech_text.circle-graphic-box_tech_text
                                    | Производственная мощность

                                .piesite#pie_0(data-pie="100")


                            .arcticle-box_tech_desc
                                | Порт «Бронка» – многофункциональный современный порт
                .row.no-gutters
                    .col-12.col-lg-6.bg-blue-dark-hide.order-2.order-lg-1
                        .arcticle-box_tech-container.circle-graphic-container
                            .arcticle-box_tech.circle-graphic-box_tech
                                .arcticle-box_tech_count.circle-graphic-box_tech_count
                                    span.js-spincrement(data-to="1.9",data-dp="1")
                                        | 1,9
                                    small
                                        | млн.
                                .arcticle-box_tech_text.circle-graphic-box_tech_text
                                    | Производственная мощность

                                .piesite#pie_0(data-pie="100")


                            .arcticle-box_tech_desc
                                | Порт «Бронка» – многофункциональный современный порт

                    .col-12.col-lg-6.bg-blue.order-1.order-lg-2
                        .arcticle-box_stats
                            .arcticle-box_stats_item.row.align-items-center
                                .col-12.col-sm-6.col-lg-7
                                    big
                                        span.js-spincrement(data-to="90")
                                            | 0
                                        | +
                                .col-12.col-sm-6.col-lg-5
                                    | Площадь (Га)
                            .arcticle-box_stats_item.row.align-items-center
                                .col-12.col-sm-6.col-lg-7
                                    big
                                        span.js-spincrement(data-to="28")
                                            | 0
                                        | +
                                .col-12.col-sm-6.col-lg-5
                                    | Груженые  контейнеры (тыс.)
                            .arcticle-box_stats_item.row.align-items-center
                                .col-12.col-sm-6.col-lg-7
                                    big
                                        span.js-spincrement(data-to="1200")
                                            | 0
                                        | +
                                .col-12.col-sm-6.col-lg-5
                                    | Контейнерный терминал (м)


            .section.section--newslist-detail.section--newslist-detail-article.js-section--newslist#news(style="background-color: #f4f4f4;")
                include jade/layout/share-panel
                h3.newslist-mobile-article Другие новости &laquo;Бронка Девелопмент&raquo;

                <!-- изменен -->
                //- Порт
                .press-center_news_list.row.justify-content-between.press-center_news_list--press
                    .col-sm.filter-news-all.js-filter-news-all
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-br1.jpg')")
                            .press-center_news_item_summary
                                | Порт «Бронка» стал единственным портом в России, способным осуществлять перевалку крупногабаритного груза массой 500 тонн
                                span.press-center_news_item_date
                                    | 14 Октября, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-all
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-br2.jpg')")
                            .press-center_news_item_summary
                                | В ГУМРФ им. адмирала С.О. Макарова открылась новая учебная аудитория современной портовой инфраструктуры России
                                span.press-center_news_item_date
                                    | 02 Сентября, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-all
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-br3.jpg')")
                            .press-center_news_item_summary
                                | Подписано трехстороннее соглашение о реализации проекта по созданию транспортно-логистического центра «Бронка»
                                span.press-center_news_item_date
                                    | 06 Июня, 2019
                            a(href="/article.html").press-center_news_item_link
                    .col-sm.filter-news-all.js-filter-news-all
                        .press-center_news_item
                            .press-center_news_item_preview
                                .press-center_news_item_preview_img(style="background-image: url('img/content/news-br4.jpg')")
                            .press-center_news_item_summary
                                | В порту «Бронка» продемонстрирована инновационная технология перегрузки насыпных и навалочных грузов
                                span.press-center_news_item_date
                                    | 26 Апреля, 2019
                            a(href="/article.html").press-center_news_item_link
                .press-center-article-buttons
                    a.press-center-article-button(href="/news.html")
                        p.press-center-article-text Все новости "Бронка Девелопмент"
                    a.press-center-article-link(href="/news.html")
                        p.press-center-article-link-text Все новости "Бронка Групп"
            .section.section--footer.section--footer-article
                include jade/layout/footer-inner
        include jade/layout/scripts
