src/contacts.jade
//- contacts.jade
- var curPage = 'Контакты';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page

        #preloader

        .wrapper
            include jade/layout/header

            .section.no-gutters
                .row.no-gutters.map-row
                    .col-12.col-lg-8.video-box.vh-with-header-footer
                        .video-box_preview.video-box_preview--contacts
                            .map#map(data-lat="59.939280",data-lng="30.394047")
                    .col-12.col-lg-4.contacts-infobox.vh-with-header-footer
                        .contacts-infobox_content.-contacts
                            h2.text-medium
                                | Контакты
                            .row
                                .col-12.col-sm-6.col-lg-12
                                    .contacts-infobox_list
                                        .contacts-infobox_item
                                            +icon("map", "")
                                            | ООО «Бронка Групп»
                                .col-12.col-sm-6.col-lg-12
                                    .contacts-infobox_list
                                        .contacts-infobox_item
                                            a(href="tel:88127771000")
                                                +icon("phone", "")
                                                | +7 (812) 777 1000
                                        .contacts-infobox_item
                                            +icon("point", "")
                                            | 191124, Россия, Санкт-Петербург, ул. Красного Текстильщика, д.17
                                .col-12.col-sm-6.col-lg-12
                                    .contacts-infobox_list
                                        .contacts-infobox_item
                                            a(href="mailto:info@bronkagroup.ru")
                                                +icon("mail", "")
                                                | info@bronkagroup.ru
                                .col-12.col-sm-6.col-lg-12
                                    .contacts-infobox_item.contacts-infobox_item--social
                                        a(href="https://www.facebook.com/BronkaGroup/")
                                            +icon("facebook", "")
                                            | FACEBOOK
                                    .contacts-infobox_item.contacts-infobox_item--social
                                        a(href="https://www.instagram.com/bronkagroup/")
                                            +icon("instagram", "")
                                            | INSTAGRAM
                                    .contacts-infobox_item.contacts-infobox_item--social
                                        a(href="https://www.youtube.com/channel/UCXgiw5ZROfx-K_snVW4GlhQ")
                                            +icon("youtube", "")
                                            | YOUTUBE
            //- .section.no-gutters
            //-     .row.no-gutters
            //-         .col-12.col-sm-6
            //-             .contacts_content
            //-                 h1
            //-                     | Контакты
            //-                 a(href="#").btn.contacts_content_btn
            //-                     | Смотреть на карте
            //-         .col-12.col-sm-6.bg-gray
            //-             .contacts_content
            //-                 h4.text--light
            //-                     | Мы всегда рады видеть вас в нашем центральном офисе и готовы ответить на все ваши вопросы
            //-                 .row
            //-                     .col-12.col-lg-6
            //-                         .contacts-infobox_list
            //-                             .contacts-infobox_item
            //-                                 +icon("address", "")
            //-                                 | Санкт-Петербург, ул. Красного Текстильщика, 17

            //-                     .col-12.col-lg-6
            //-                         .contacts-infobox_list
            //-                             .contacts-infobox_item
            //-                                 +icon("phone", "")
            //-                                 | +7 (812) 320 10 00

            //-                     .col-12.col-lg-6
            //-                         .contacts-infobox_list.contacts-infobox_list--last
            //-                             .contacts-infobox_item
            //-                                 +icon("mail", "")
            //-                                 | info@bronkagroup.ru
            
            
            .section.section--footer.section--footer--inner
                include jade/layout/footer-inner
        include jade/layout/scripts

static/contacts.html
<!DOCTYPE html>
<html>
   <head lang="ru">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Бронка | Контакты</title>
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="">
      <meta name="format-detection" content="telephone=no">
      <link rel="stylesheet" href="css/main.css">
      <link rel="icon" type="image/ico" href="favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap" rel="stylesheet">
   </head>
   <body class="page">
      <div id="preloader"></div>
      <div class="wrapper">
         <div class="hamburger-container">
            <button type="button" aria-controls="navigation" class="hamburger hamburger--spring js-hamburger"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
         </div><!-- изменен -->
         <div class="header_buffer">           </div>
         <div class="header header--inner">
            <div class="row no-gutters align-items-lg-center">
               <div class="col-12 col-lg-4 popup-none">
                  <div data-aos="fade-in" data-aos-delay="0" data-aos-duration="1000" class="header_logo"><a href="/"><img src="img/logo-inner.svg"></a></div>
               </div>
               <div class="col-12 col-lg-8 popup-move">
                  <div id="navigation" class="header_menu"><a href="/" class="header_menu_navigation_logo"></a>
                     <ul class="inner inner-list">
                        <li data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000" class="outer outer--full"><a href="#" class="link link--company">О компании</a>
                           <ul class="animated animated--active animated--company">
                              <button type="button" id="company-back" class="arrow-back"></button>
                              <li class="first"><a href="/about.html" class="link">О нас</a></li>
                              <li><a href="/sovet.html" class="link">Руководство</a></li>
                              <li class="last"><a href="/policy.html" class="link link--policy">Политика обработки персональных данных</a></li>
                           </ul>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="100" data-aos-duration="1000" class="outer outer--full"><a href="#" class="link link--buisness">Наш бизнес</a>
                           <ul class="animated animated--active animated--buisness">
                              <button type="button" id="buisness-back" class="arrow-back"></button>
                              <li class="first"><a href="/object.html" class="link">Порт &laquo;Бронка&raquo;</a></li>
                              <li><a href="/object.html" class="link">Завод &laquo;Измерон&raquo;</a></li>
                              <li><a href="/object.html" class="link">Единый центр документов</a></li>
                              <li><a href="/object.html" class="link">Бронка девелопмент</a></li>
                              <li><a href="/object.html" class="link">Сеть бутиков</a></li>
                              <li><a href="/object.html" class="link">ПНК им. Кирова</a></li>
                              <li class="last"><a href="/object.html" class="link">Ресторанная группа</a></li>
                           </ul>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000" class="outer outer--full"><a href="#" class="link link--press">Пресс-центр</a>
                           <ul class="animated animated--active animated--press">
                              <button type="button" id="press-back" class="arrow-back"></button>
                              <li class="first"><a href="/press-center.html" class="link">Новости</a></li>
                              <li><a href="/photo-archive.html" class="link">Фотоархив</a></li>
                              <li class="last"><a href="/videos.html" class="link">Видеобанк</a></li>
                           </ul>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="200" data-aos-duration="1000"><a href="/work.html" class="link">Карьера</a></li>
                        <li data-aos="fade-in" data-aos-delay="250" data-aos-duration="1000"><a href="contacts.html" class="link">Контакты</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="section no-gutters">
            <div class="row no-gutters map-row">
               <div class="col-12 col-lg-8 video-box vh-with-header-footer">
                  <div class="video-box_preview video-box_preview--contacts">
                     <div id="map" data-lat="59.939280" data-lng="30.394047" class="map"></div>
                  </div>
               </div>
               <div class="col-12 col-lg-4 contacts-infobox vh-with-header-footer">
                  <div class="contacts-infobox_content -contacts">
                     <h2 class="text-medium">Контакты</h2>
                     <div class="row">
                        <div class="col-12 col-sm-6 col-lg-12">
                           <div class="contacts-infobox_list">
                              <div class="contacts-infobox_item">
                                 <svg class="icon icon-map ">
                                    <use xlink:href="svg/sprite.svg#map"></use>
                                 </svg>ООО «Бронка Групп»
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-12">
                           <div class="contacts-infobox_list">
                              <div class="contacts-infobox_item"><a href="tel:88127771000">
                                    <svg class="icon icon-phone ">
                                       <use xlink:href="svg/sprite.svg#phone"></use>
                                    </svg>+7 (812) 777 1000</a></div>
                              <div class="contacts-infobox_item">
                                 <svg class="icon icon-point ">
                                    <use xlink:href="svg/sprite.svg#point"></use>
                                 </svg>191124, Россия, Санкт-Петербург, ул. Красного Текстильщика, д.17
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-12">
                           <div class="contacts-infobox_list">
                              <div class="contacts-infobox_item"><a href="mailto:info@bronkagroup.ru">
                                    <svg class="icon icon-mail ">
                                       <use xlink:href="svg/sprite.svg#mail"></use>
                                    </svg>info@bronkagroup.ru</a></div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-12">
                           <div class="contacts-infobox_item contacts-infobox_item--social"><a href="https://www.facebook.com/BronkaGroup/">
                                 <svg class="icon icon-facebook ">
                                    <use xlink:href="svg/sprite.svg#facebook"></use>
                                 </svg>FACEBOOK</a></div>
                           <div class="contacts-infobox_item contacts-infobox_item--social"><a href="https://www.instagram.com/bronkagroup/">
                                 <svg class="icon icon-instagram ">
                                    <use xlink:href="svg/sprite.svg#instagram"></use>
                                 </svg>INSTAGRAM</a></div>
                           <div class="contacts-infobox_item contacts-infobox_item--social"><a href="https://www.youtube.com/channel/UCXgiw5ZROfx-K_snVW4GlhQ">
                                 <svg class="icon icon-youtube ">
                                    <use xlink:href="svg/sprite.svg#youtube"></use>
                                 </svg>YOUTUBE</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         
         <div class="section section--footer section--footer--inner">
            <div class="footer">
               <div class="footer_content row no-gutters justify-content-between">
                  <div class="col-12 col-sm-3 col-lg-auto">
                     <div class="footer_content_item footer_content_item--copyright">© bronkagroup, 2019</div>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-auto">
                     <div class="footer_content_item footer_content_item--links"><a href="/sitemap.html" class="footer_content-link footer_content-link--main">Карта сайта</a><a href="/policy.html" class="footer_content-link footer_content-link--main">Политика обработки персональных данных</a><a href="/contacts.html" class="footer_content-link footer_content-link--main">Контакты</a><a id="feedback-btn" href="mailto:pr@bronkagroup.ru" class="footer_content-button">Обратная связь</a></div>
                     <div class="footer_content_item--button"><a href="mailto:pr@bronkagroup.ru" class="footer_content_item-btn">Обратная связь</a></div>
                  </div>
                  <div class="col-12 col-sm-3 col-lg-auto"><!-- изменен -->
                     <div class="footer_content_item footer_content_item--feedback d-lg-none text-center">Обратная связь</div><a href="mailto:pr@bronkagroup.ru" class="footer_content_item--feedback-link">Обратная связь</a>
                     <div class="footer_content_item footer_content_item--links footer_content_item--socials"><a href="https://www.instagram.com/bronkagroup/" target="_blank" class="footer_content-link footer_content-link--main">Instagram</a><a href="https://www.facebook.com/BronkaGroup/" target="_blank" class="footer_content-link footer_content-link--main">Facebook</a><a href="https://www.youtube.com/channel/UC0du2hDSIY769ZhMblL_HMw" target="_blank" class="footer_content-link footer_content-link--main">Youtube</a></div>
                  </div>
                  <div class="col-12 col-sm-4 col-lg-auto footer-search-field">
                     <div class="footer_content_item footer_content_item--search footer_content_item--search-other">
                        <form action="" class="footer_form">
                           <input type="text" placeholder="Поиск" id="form_control" class="form_control form_control--other">
                           <button type="button" class="btn">
                              <svg class="icon icon-search ">
                                 <use xlink:href="svg/sprite.svg#search"></use>
                              </svg>
                           </button>
                        </form>
                     </div>
                  </div>
                  <div class="col-12 col-sm-4 col-lg-auto">
                     <div class="footer_content_item footer_content_item--authors"><a href="#" target="_blank">Разработка сайта – cake.ru</a></div>
                  </div>
               </div>
            </div>
            <script src="https://unpkg.com/swiper/js/swiper.js"></script>
            <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
         </div>
      </div>
      
      <script src="https://vjs.zencdn.net/7.4.1/video.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG7Ek_3rhqNhoHvYdsXewKn3LC_uNzLuE"></script>
      <script src="https://www.youtube.com/iframe_api"></script>
      <script src="js/main.js"></script>
   </body>
</html>
