static/photo-archive.html
<!DOCTYPE html>
<html>
   <head lang="ru">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Бронка | Фотоархив</title>
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="">
      <meta name="format-detection" content="telephone=no">
      <link rel="stylesheet" href="css/main.css">
      <link rel="icon" type="image/ico" href="favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap" rel="stylesheet">
   </head>
   <body class="page">
      <div id="preloader"></div>
      <div class="wrapper">
         <div class="hamburger-container">
            <button type="button" aria-controls="navigation" class="hamburger hamburger--spring js-hamburger"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
         </div><!-- изменен -->
         <div class="header_buffer">           </div>
         <div class="header header--inner">
            <div class="row no-gutters align-items-lg-center">
               <div class="col-12 col-lg-4 popup-none">
                  <div data-aos="fade-in" data-aos-delay="0" data-aos-duration="1000" class="header_logo"><a href="/"><img src="img/logo-inner.svg"></a></div>
               </div>
               <div class="col-12 col-lg-8 popup-move">
                  <div id="navigation" class="header_menu"><a href="/" class="header_menu_navigation_logo"></a>
                     <ul class="inner inner-list">
                        <li data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000" class="outer outer--full"><a href="#" class="link link--company">О компании</a>
                           <ul class="animated animated--active animated--company">
                              <button type="button" id="company-back" class="arrow-back"></button>
                              <li class="first"><a href="/about.html" class="link">О нас</a></li>
                              <li><a href="/sovet.html" class="link">Руководство</a></li>
                              <li class="last"><a href="/policy.html" class="link link--policy">Политика обработки персональных данных</a></li>
                           </ul>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="100" data-aos-duration="1000" class="outer outer--full"><a href="#" class="link link--buisness">Наш бизнес</a>
                           <ul class="animated animated--active animated--buisness">
                              <button type="button" id="buisness-back" class="arrow-back"></button>
                              <li class="first"><a href="/object.html" class="link">Порт &laquo;Бронка&raquo;</a></li>
                              <li><a href="/object.html" class="link">Завод &laquo;Измерон&raquo;</a></li>
                              <li><a href="/object.html" class="link">Единый центр документов</a></li>
                              <li><a href="/object.html" class="link">Бронка девелопмент</a></li>
                              <li><a href="/object.html" class="link">Сеть бутиков</a></li>
                              <li><a href="/object.html" class="link">ПНК им. Кирова</a></li>
                              <li class="last"><a href="/object.html" class="link">Ресторанная группа</a></li>
                           </ul>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000" class="outer outer--full"><a href="#" class="link link--press">Пресс-центр</a>
                           <ul class="animated animated--active animated--press">
                              <button type="button" id="press-back" class="arrow-back"></button>
                              <li class="first"><a href="/press-center.html" class="link">Новости</a></li>
                              <li><a href="/photo-archive.html" class="link">Фотоархив</a></li>
                              <li class="last"><a href="/videos.html" class="link">Видеобанк</a></li>
                           </ul>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="200" data-aos-duration="1000"><a href="/work.html" class="link">Карьера</a></li>
                        <li data-aos="fade-in" data-aos-delay="250" data-aos-duration="1000"><a href="contacts.html" class="link">Контакты</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div id="news" class="section section--desktop-newslist js-section--newslist">
            <h1 class="h2 page-title-mobile">Пресс-центр / Фотоархив</h1>
            <div class="dropdown press-center_filter-dropdown onlymobile"><a href="/photochoose.html" id="dropdownMenuLink" class="btn btn-block dropdown-toggle-press dropdown-toggle"> <span class="dropdown-toggle-press">Все фотографии</span></a></div>
            <div class="dropdown press-center_filter-dropdown press-center_filter-dropdown-mobile"><a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuLink" class="btn btn-block dropdown-toggle-press dropdown-toggle"> <span class="dropdown-toggle-text">Все фотографии</span></a>
               <div aria-labelledby="dropdownMenuLink" class="dropdown-menu"></div>
            </div>
            <div class="press-center_rubrics-container d-none d-lg-flex press-center_rubrics--photoarchive">
               <ul class="press-center_rubrics press-center_rubrics--photo fixed">
                  <li class="current"><a href="#" data-filter-show="all" class="link dropdown-desktop-link dropdown-photos-mobile-link">Все фотографии</a></li>
                  <li><a href="/photos.html" data-filter-show="1" class="link dropdown-desktop-link dropdown-photos-mobile-link"><span>01 </span>
                        <p class="link-text"> Порт «Бронка»</p></a></li>
                  <li><a href="/photos.html" data-filter-show="zavod-izmeron" class="link dropdown-desktop-link dropdown-photos-mobile-link"><span>02 </span>
                        <p class="link-text">Завод «Измерон»</p></a></li>
                  <li><a href="/photos.html" data-filter-show="3" class="link dropdown-desktop-link dropdown-photos-mobile-link"><span>03 </span>
                        <p class="link-text">Единый центр документов</p></a></li>
                  <li><a href="/photos.html" data-filter-show="4" class="link dropdown-desktop-link dropdown-photos-mobile-link"><span>04 </span>
                        <p class="link-text">ПНК им.Кирова</p></a></li>
                  <li><a href="/photos.html" data-filter-show="5" class="link dropdown-desktop-link dropdown-photos-mobile-link"><span>05 </span>
                        <p class="link-text">Бронка девелопмент</p></a></li>
                  <li><a href="/photos.html" data-filter-show="6" class="link dropdown-desktop-link dropdown-photos-mobile-link"><span>06 </span>
                        <p class="link-text">Ресторанная группа</p></a></li>
                  <li><a href="/photos.html" data-filter-show="7" class="link dropdown-desktop-link dropdown-photos-mobile-link"><span>07 </span>
                        <p class="link-text">Сеть бутиков</p></a></li>
               </ul>
            </div>
         </div>
         <div class="section no-gutters section--allphotos-mobile">
            <div class="press-center_allphotos">
               <div class="photos">
                  <div class="photos__wrapper photos__wrapper--desktop">
                     <div class="photos__item photos__item1"><a href="img/content/IMG_0873.jpg" data-fancybox="gallery" style="background: url('img/content/IMG_0873.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/IMG_0873.jpg" alt=""></a></div>
                     <div class="photos__item photos__item2"><a href="img/content/1.jpg" data-fancybox="gallery" style="background: url('img/content/1.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/1.jpg" alt=""></a></div>
                     <div class="photos__item photos__item3"><a href="img/content/portfull.jpg" data-fancybox="gallery" style="background: url('img/content/portfull.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/portfull.jpg" alt=""></a></div>
                     <div class="photos__item photos__item4"><a href="img/content/obvod.jpg" data-fancybox="gallery" style="background: url('img/content/obvod.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/obvod.jpg" alt=""></a></div>
                     <div class="photos__item photos__item5"><a href="img/content/hall.jpg" data-fancybox="gallery" style="background: url('img/content/hall.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/hall.jpg" alt=""></a></div>
                     <div class="photos__item photos__item6"><a href="img/content/chairs.jpg" data-fancybox="gallery" style="background: url('img/content/chairs.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/chairs.jpg" alt=""></a></div>
                     <div class="photos__item photos__item7"><a href="img/content/port2full.jpg" data-fancybox="gallery" style="background: url('img/content/brnk-pages1.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/port2full.jpg" alt=""></a></div>
                     <div class="photos__item photos__item8"><a href="img/content/greeny.jpg" data-fancybox="gallery" style="background: url('img/content/green.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/greeny.jpg" alt=""></a></div>
                     <div class="photos__item photos__item9"><a href="img/content/5.jpg" data-fancybox="gallery" style="background: url('img/content/5.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/5.jpg" alt=""></a></div>
                     <div class="photos__item photos__item10"><a href="img/content/rest2.jpg" data-fancybox="gallery" style="background: url('img/content/rest2.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/rest2.jpg" alt=""></a></div>
                     <div class="photos__item photos__item11"><a href="img/content/clothes.jpg" data-fancybox="gallery" style="background: url('img/content/clothes.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/clothes.jpg" alt=""></a></div>
                     <div class="photos__item photos__item12"><a href="img/content/ecd-girl.jpg" data-fancybox="gallery" style="background: url('img/content/ecd-girl.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/ecd-girl.jpg" alt=""></a></div>
                     <div class="photos__item photos__item13"><a href="img/content/brnk-pages2.jpg" data-fancybox="gallery" style="background: url('img/content/brnk-pages2.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/brnk-pages2.jpg" alt=""></a></div>
                     <div class="photos__item photos__item14"><a href="img/content/ecdtable.jpg" data-fancybox="gallery" style="background: url('img/content/ecdtable.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/ecdtable.jpg" alt=""></a></div>
                     <div class="photos__item photos__item15"><a href="img/content/housefronty.jpg" data-fancybox="gallery" style="background: url('img/content/housefronty.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/housefronty.jpg" alt=""></a></div>
                     <div class="photos__item photos__item16"><a href="img/content/buddah.jpg" data-fancybox="gallery" style="background: url('img/content/buddah.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/buddah.jpg" alt=""></a></div>
                     <div class="photos__item photos__item17"><a href="img/content/canali.jpg" data-fancybox="gallery" style="background: url('img/content/canali.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/canali.jpg" alt=""></a></div>
                     <div class="photos__item photos__item18"><a href="img/content/yellow.jpg" data-fancybox="gallery" style="background: url('img/content/yellow.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/yellow.jpg" alt=""></a></div>
                     <div class="photos__item photos__item19"><a href="img/content/object3.jpg" data-fancybox="gallery" style="background: url('img/content/object3.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/object3.jpg" alt=""></a></div>
                     <div class="photos__item photos__item20"><a href="img/content/swansfull.jpg" data-fancybox="gallery" style="background: url('img/content/swans.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/swansfull.jpg" alt=""></a></div>
                     <div class="photos__item photos__item21"><a href="img/content/portmen.jpg" data-fancybox="gallery" style="background: url('img/content/brnk-pages3.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/portmen.jpg" alt=""></a></div>
                     <div class="photos__item photos__item22"><a href="img/content/pillows.jpg" data-fancybox="gallery" style="background: url('img/content/pillows.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/pillows.jpg" alt=""></a></div>
                     <div class="photos__item photos__item23"><a href="img/content/corners.jpg" data-fancybox="gallery" style="background: url('img/content/corners.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/corners.jpg" alt=""></a></div>
                     <div class="photos__item photos__item24"><a href="img/content/housetop2.jpg" data-fancybox="gallery" style="background: url('img/content/housetop2.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/housetop2.jpg" alt=""></a></div>
                     <div class="photos__item photos__item25"><a href="img/content/whitecastlefull.jpg" data-fancybox="gallery" style="background: url('img/content/whitecastle.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/whitecastlefull.jpg" alt=""></a></div>
                     <div class="photos__item photos__item26"><a href="img/content/green2.jpg" data-fancybox="gallery" style="background: url('img/content/green2.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/green2.jpg" alt=""></a></div>
                     <div class="photos__item photos__item27"><a href="img/content/portman.jpg" data-fancybox="gallery" style="background: url('img/content/portman.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/portman.jpg" alt=""></a></div>
                     <div class="photos__item photos__item28"><a href="img/content/reststars.jpg" data-fancybox="gallery" style="background: url('img/content/reststars.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/reststars.jpg" alt=""></a></div>
                     <div class="photos__item photos__item29"><a href="img/content/builderportfull.jpg" data-fancybox="gallery" style="background: url('img/content/brnk-pages4.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/builderportfull.jpg" alt=""></a></div>
                     <div class="photos__item photos__item30"><a href="img/content/yellowgreen.jpg" data-fancybox="gallery" style="background: url('img/content/yellowgreen.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/yellowgreen.jpg" alt=""></a></div>
                     <div class="photos__item photos__item31"><a href="img/content/ship2.jpg" data-fancybox="gallery" style="background: url('img/content/ship2.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/ship2.jpg" alt=""></a></div>
                     <div class="photos__item photos__item32"><a href="img/content/peterhof.jpg" data-fancybox="gallery" style="background: url('img/content/peterhof.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/peterhof.jpg" alt=""></a></div>
                     <div class="photos__item photos__item33"><a href="img/content/gazprom.jpg" data-fancybox="gallery" style="background: url('img/content/gazprom.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/gazprom.jpg" alt=""></a></div>
                     <div class="photos__item photos__item34"><a href="img/content/redport.jpg" data-fancybox="gallery" style="background: url('img/content/redport.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/redport.jpg" alt=""></a></div>
                     <div class="photos__item photos__item35"><a href="img/content/portcar.jpg" data-fancybox="gallery" style="background: url('img/content/portcar.jpg') 50% 50%/ cover no-repeat" class="press-center_allphotos_link photos_allphotos_link"><img src="img/content/portcar.jpg" alt=""></a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="section section--footer section--footer--inner section--footer-article">
         <div class="footer">
            <div class="footer_content row no-gutters justify-content-between">
               <div class="col-12 col-sm-3 col-lg-auto">
                  <div class="footer_content_item footer_content_item--copyright">© bronkagroup, 2019</div>
               </div>
               <div class="col-12 col-sm-6 col-lg-auto">
                  <div class="footer_content_item footer_content_item--links"><a href="/sitemap.html" class="footer_content-link footer_content-link--main">Карта сайта</a><a href="/policy.html" class="footer_content-link footer_content-link--main">Политика обработки персональных данных</a><a href="/contacts.html" class="footer_content-link footer_content-link--main">Контакты</a><a id="feedback-btn" href="mailto:pr@bronkagroup.ru" class="footer_content-button">Обратная связь</a></div>
                  <div class="footer_content_item--button"><a href="mailto:pr@bronkagroup.ru" class="footer_content_item-btn">Обратная связь</a></div>
               </div>
               <div class="col-12 col-sm-3 col-lg-auto"><!-- изменен -->
                  <div class="footer_content_item footer_content_item--feedback d-lg-none text-center">Обратная связь</div><a href="mailto:pr@bronkagroup.ru" class="footer_content_item--feedback-link">Обратная связь</a>
                  <div class="footer_content_item footer_content_item--links footer_content_item--socials"><a href="https://www.instagram.com/bronkagroup/" target="_blank" class="footer_content-link footer_content-link--main">Instagram</a><a href="https://www.facebook.com/BronkaGroup/" target="_blank" class="footer_content-link footer_content-link--main">Facebook</a><a href="https://www.youtube.com/channel/UC0du2hDSIY769ZhMblL_HMw" target="_blank" class="footer_content-link footer_content-link--main">Youtube</a></div>
               </div>
               <div class="col-12 col-sm-4 col-lg-auto footer-search-field">
                  <div class="footer_content_item footer_content_item--search footer_content_item--search-other">
                     <form action="" class="footer_form">
                        <input type="text" placeholder="Поиск" id="form_control" class="form_control form_control--other">
                        <button type="button" class="btn">
                           <svg class="icon icon-search ">
                              <use xlink:href="svg/sprite.svg#search"></use>
                           </svg>
                        </button>
                     </form>
                  </div>
               </div>
               <div class="col-12 col-sm-4 col-lg-auto">
                  <div class="footer_content_item footer_content_item--authors"><a href="#" target="_blank">Разработка сайта – cake.ru</a></div>
               </div>
            </div>
         </div>
         <script src="https://unpkg.com/swiper/js/swiper.js"></script>
         <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
      </div>
      
      <script src="https://vjs.zencdn.net/7.4.1/video.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG7Ek_3rhqNhoHvYdsXewKn3LC_uNzLuE"></script>
      <script src="https://www.youtube.com/iframe_api"></script>
      <script src="js/main.js"></script>
   </body>
</html>

src/photo-archive.jade
//- photos.jade
- var curPage = 'Фотоархив';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page

        #preloader

        .wrapper
            include jade/layout/header
            .section.section--desktop-newslist.js-section--newslist#news
                h1.h2.page-title-mobile Пресс-центр / Фотоархив
                .dropdown.press-center_filter-dropdown.onlymobile
                    a(href="/photochoose.html").btn.btn-block.dropdown-toggle-press.dropdown-toggle#dropdownMenuLink 
                        span.dropdown-toggle-press Все фотографии
                .dropdown.press-center_filter-dropdown.press-center_filter-dropdown-mobile
                    a(href="#",role="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false").btn.btn-block.dropdown-toggle-press.dropdown-toggle#dropdownMenuLink 
                        span.dropdown-toggle-text Все фотографии
                    .dropdown-menu(aria-labelledby="dropdownMenuLink")
                .press-center_rubrics-container.d-none.d-lg-flex.press-center_rubrics--photoarchive
                    ul.press-center_rubrics.press-center_rubrics--photo.fixed
                        li.current
                            a(href="#",data-filter-show="all").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                | Все фотографии
                        li
                            a(href="/photos.html",data-filter-show="1").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 01 
                                p.link-text  Порт «Бронка»
                        li
                            a(href="/photos.html",data-filter-show="zavod-izmeron").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 02 
                                p.link-text Завод «Измерон»
                        li
                            a(href="/photos.html",data-filter-show="3").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 03 
                                p.link-text Единый центр документов
                        li
                            a(href="/photos.html",data-filter-show="4").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 04 
                                p.link-text ПНК им.Кирова
                        li
                            a(href="/photos.html",data-filter-show="5").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 05 
                                p.link-text Бронка девелопмент
                        li
                            a(href="/photos.html",data-filter-show="6").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 06 
                                p.link-text Ресторанная группа
                        li
                            a(href="/photos.html",data-filter-show="7").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 07 
                                p.link-text Сеть бутиков
            .section.no-gutters.section--allphotos-mobile
                .press-center_allphotos

                    .photos
                        .photos__wrapper.photos__wrapper--desktop
                            .photos__item.photos__item1
                                a(href="img/content/IMG_0873.jpg",data-fancybox="gallery" style="background: url('img/content/IMG_0873.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                    img(src="img/content/IMG_0873.jpg", alt="")
                            .photos__item.photos__item2
                                a(href="img/content/1.jpg",data-fancybox="gallery" style="background: url('img/content/1.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                    img(src="img/content/1.jpg", alt="")
                            .photos__item.photos__item3
                                a(href="img/content/portfull.jpg",data-fancybox="gallery" style="background: url('img/content/portfull.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/portfull.jpg", alt="")
                            .photos__item.photos__item4
                                a(href="img/content/obvod.jpg",data-fancybox="gallery" style="background: url('img/content/obvod.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/obvod.jpg", alt="")
                            .photos__item.photos__item5
                                a(href="img/content/hall.jpg",data-fancybox="gallery" style="background: url('img/content/hall.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/hall.jpg", alt="")
                            .photos__item.photos__item6
                                a(href="img/content/chairs.jpg",data-fancybox="gallery" style="background: url('img/content/chairs.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/chairs.jpg", alt="")
                            .photos__item.photos__item7
                                a(href="img/content/port2full.jpg",data-fancybox="gallery" style="background: url('img/content/brnk-pages1.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/port2full.jpg", alt="")
                            .photos__item.photos__item8
                                a(href="img/content/greeny.jpg",data-fancybox="gallery" style="background: url('img/content/green.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/greeny.jpg", alt="")
                            .photos__item.photos__item9
                                a(href="img/content/5.jpg",data-fancybox="gallery" style="background: url('img/content/5.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/5.jpg", alt="")
                            .photos__item.photos__item10
                                a(href="img/content/rest2.jpg",data-fancybox="gallery" style="background: url('img/content/rest2.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/rest2.jpg", alt="")
                            .photos__item.photos__item11
                                a(href="img/content/clothes.jpg",data-fancybox="gallery" style="background: url('img/content/clothes.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/clothes.jpg", alt="")
                            .photos__item.photos__item12
                                a(href="img/content/ecd-girl.jpg",data-fancybox="gallery" style="background: url('img/content/ecd-girl.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/ecd-girl.jpg", alt="")
                            //- 13
                            .photos__item.photos__item13
                                a(href="img/content/brnk-pages2.jpg",data-fancybox="gallery" style="background: url('img/content/brnk-pages2.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/brnk-pages2.jpg", alt="")
                            .photos__item.photos__item14
                                a(href="img/content/ecdtable.jpg",data-fancybox="gallery" style="background: url('img/content/ecdtable.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/ecdtable.jpg", alt="")
                            .photos__item.photos__item15
                                a(href="img/content/housefronty.jpg",data-fancybox="gallery" style="background: url('img/content/housefronty.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/housefronty.jpg", alt="")
                            .photos__item.photos__item16
                                a(href="img/content/buddah.jpg",data-fancybox="gallery" style="background: url('img/content/buddah.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/buddah.jpg", alt="")
                            .photos__item.photos__item17
                                a(href="img/content/canali.jpg",data-fancybox="gallery" style="background: url('img/content/canali.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/canali.jpg", alt="")
                            .photos__item.photos__item18
                                a(href="img/content/yellow.jpg",data-fancybox="gallery" style="background: url('img/content/yellow.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/yellow.jpg", alt="")
                            .photos__item.photos__item19
                                a(href="img/content/object3.jpg",data-fancybox="gallery" style="background: url('img/content/object3.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/object3.jpg", alt="")
                            .photos__item.photos__item20
                                a(href="img/content/swansfull.jpg",data-fancybox="gallery" style="background: url('img/content/swans.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/swansfull.jpg", alt="")
                            .photos__item.photos__item21
                                a(href="img/content/portmen.jpg",data-fancybox="gallery" style="background: url('img/content/brnk-pages3.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/portmen.jpg", alt="")
                            .photos__item.photos__item22
                                a(href="img/content/pillows.jpg",data-fancybox="gallery" style="background: url('img/content/pillows.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/pillows.jpg", alt="")
                            .photos__item.photos__item23
                                a(href="img/content/corners.jpg",data-fancybox="gallery" style="background: url('img/content/corners.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/corners.jpg", alt="")
                            //- 24      
                            .photos__item.photos__item24
                                a(href="img/content/housetop2.jpg",data-fancybox="gallery" style="background: url('img/content/housetop2.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/housetop2.jpg", alt="")
                            .photos__item.photos__item25
                                a(href="img/content/whitecastlefull.jpg",data-fancybox="gallery" style="background: url('img/content/whitecastle.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/whitecastlefull.jpg", alt="")
                            .photos__item.photos__item26
                                a(href="img/content/green2.jpg",data-fancybox="gallery" style="background: url('img/content/green2.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/green2.jpg", alt="")
                            
                            .photos__item.photos__item27
                                a(href="img/content/portman.jpg",data-fancybox="gallery" style="background: url('img/content/portman.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/portman.jpg", alt="")
                            .photos__item.photos__item28
                                a(href="img/content/reststars.jpg",data-fancybox="gallery" style="background: url('img/content/reststars.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/reststars.jpg", alt="")

                            //- 29 
                            .photos__item.photos__item29
                                a(href="img/content/builderportfull.jpg",data-fancybox="gallery" style="background: url('img/content/brnk-pages4.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/builderportfull.jpg", alt="")
                            .photos__item.photos__item30
                                a(href="img/content/yellowgreen.jpg",data-fancybox="gallery" style="background: url('img/content/yellowgreen.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/yellowgreen.jpg", alt="")
                            .photos__item.photos__item31
                                a(href="img/content/ship2.jpg",data-fancybox="gallery" style="background: url('img/content/ship2.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/ship2.jpg", alt="")
                            .photos__item.photos__item32
                                a(href="img/content/peterhof.jpg",data-fancybox="gallery" style="background: url('img/content/peterhof.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/peterhof.jpg", alt="")
                            .photos__item.photos__item33
                                a(href="img/content/gazprom.jpg",data-fancybox="gallery" style="background: url('img/content/gazprom.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/gazprom.jpg", alt="")
                            .photos__item.photos__item34
                                a(href="img/content/redport.jpg",data-fancybox="gallery" style="background: url('img/content/redport.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/redport.jpg", alt="")
                            .photos__item.photos__item35
                                a(href="img/content/portcar.jpg",data-fancybox="gallery" style="background: url('img/content/portcar.jpg') 50% 50%/ cover no-repeat").press-center_allphotos_link.photos_allphotos_link
                                     img(src="img/content/portcar.jpg", alt="")
        .section.section--footer.section--footer--inner.section--footer-article
            include jade/layout/footer-inner
        include jade/layout/scripts
