static/photochoose.html
<!DOCTYPE html>
<html>
   <head lang="ru">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Бронка | Выбор фото</title>
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="">
      <meta name="format-detection" content="telephone=no">
      <link rel="stylesheet" href="css/main.css">
      <link rel="icon" type="image/ico" href="favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap" rel="stylesheet">
   </head>
   <body class="page dark-preloader">
      <div id="preloader"></div>
      <div class="wrapper">
         <div class="hamburger-container">
            <button type="button" aria-controls="navigation" class="hamburger hamburger--spring js-hamburger"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
         </div><!-- изменен -->
         <div class="header_buffer">           </div>
         <div class="header header--inner">
            <div class="row no-gutters align-items-lg-center">
               <div class="col-12 col-lg-4 popup-none">
                  <div data-aos="fade-in" data-aos-delay="0" data-aos-duration="1000" class="header_logo"><a href="/"><img src="img/logo-inner.svg"></a></div>
               </div>
               <div class="col-12 col-lg-8 popup-move">
                  <div id="navigation" class="header_menu"><a href="/" class="header_menu_navigation_logo"></a>
                     <ul class="inner inner-list">
                        <li data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000" class="outer outer--full"><a href="#" class="link link--company">О компании</a>
                           <ul class="animated animated--active animated--company">
                              <button type="button" id="company-back" class="arrow-back"></button>
                              <li class="first"><a href="/about.html" class="link">О нас</a></li>
                              <li><a href="/sovet.html" class="link">Руководство</a></li>
                              <li class="last"><a href="/policy.html" class="link link--policy">Политика обработки персональных данных</a></li>
                           </ul>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="100" data-aos-duration="1000" class="outer outer--full"><a href="#" class="link link--buisness">Наш бизнес</a>
                           <ul class="animated animated--active animated--buisness">
                              <button type="button" id="buisness-back" class="arrow-back"></button>
                              <li class="first"><a href="/object.html" class="link">Порт &laquo;Бронка&raquo;</a></li>
                              <li><a href="/object.html" class="link">Завод &laquo;Измерон&raquo;</a></li>
                              <li><a href="/object.html" class="link">Единый центр документов</a></li>
                              <li><a href="/object.html" class="link">Бронка девелопмент</a></li>
                              <li><a href="/object.html" class="link">Сеть бутиков</a></li>
                              <li><a href="/object.html" class="link">ПНК им. Кирова</a></li>
                              <li class="last"><a href="/object.html" class="link">Ресторанная группа</a></li>
                           </ul>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000" class="outer outer--full"><a href="#" class="link link--press">Пресс-центр</a>
                           <ul class="animated animated--active animated--press">
                              <button type="button" id="press-back" class="arrow-back"></button>
                              <li class="first"><a href="/press-center.html" class="link">Новости</a></li>
                              <li><a href="/photo-archive.html" class="link">Фотоархив</a></li>
                              <li class="last"><a href="/videos.html" class="link">Видеобанк</a></li>
                           </ul>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="200" data-aos-duration="1000"><a href="/work.html" class="link">Карьера</a></li>
                        <li data-aos="fade-in" data-aos-delay="250" data-aos-duration="1000"><a href="contacts.html" class="link">Контакты</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div id="news" class="section section--desktop-newslist section--mobile-newslist-photos js-section--newslist">
            <h1 class="h2 page-title-mobile">Пресс-центр / Фотоархив</h1>
            <div class="dropdown press-center_filter-dropdown onlymobile"><a href="#" role="button" id="dropdownMenuLink" class="btn btn-block dropdown-toggle-press dropdown-toggle"><span class="dropdown-toggle-press">Все фотографии</span></a></div>
            <div class="press-center_rubrics-container d-lg-flex press-center_rubrics--photoarchivechoose">
               <ul class="press-center_rubrics press-center_rubrics--photochoose fixed">
                  <li><a href="/photos.html" data-filter-show="1" class="link dropdown-desktop-link dropdown-photos-mobile-link"><span>01</span>
                        <p class="link-text">Порт «Бронка»</p></a></li>
                  <li><a href="/photos.html" data-filter-show="zavod-izmeron" class="link dropdown-desktop-link dropdown-photos-mobile-link"><span>02</span>
                        <p class="link-text">Завод «Измерон»</p></a></li>
                  <li><a href="/photos.html" data-filter-show="3" class="link dropdown-desktop-link dropdown-photos-mobile-link"><span>03</span>
                        <p class="link-text">Единый центр документов</p></a></li>
                  <li><a href="/photos.html" data-filter-show="4" class="link dropdown-desktop-link dropdown-photos-mobile-link"><span>04</span>
                        <p class="link-text">ПНК им.Кирова</p></a></li>
                  <li><a href="/photos.html" data-filter-show="5" class="link dropdown-desktop-link dropdown-photos-mobile-link"><span>05</span>
                        <p class="link-text">Бронка девелопмент</p></a></li>
                  <li><a href="/photos.html" data-filter-show="6" class="link dropdown-desktop-link dropdown-photos-mobile-link"><span>06</span>
                        <p class="link-text">Ресторанная группа</p></a></li>
                  <li><a href="/photos.html" data-filter-show="7" class="link dropdown-desktop-link dropdown-photos-mobile-link"><span>07</span>
                        <p class="link-text">Сеть бутиков</p></a></li>
               </ul>
            </div>
         </div>
         
         <script src="https://vjs.zencdn.net/7.4.1/video.js"></script>
         <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG7Ek_3rhqNhoHvYdsXewKn3LC_uNzLuE"></script>
         <script src="https://www.youtube.com/iframe_api"></script>
         <script src="js/main.js"></script>
      </div>
   </body>
</html>

src/photochoose.jade


//- photo-choose.jade
- var curPage = 'Выбор фото';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page.dark-preloader

        #preloader

        .wrapper
            include jade/layout/header
            .section.section--desktop-newslist.section--mobile-newslist-photos.js-section--newslist#news
                h1.h2.page-title-mobile Пресс-центр / Фотоархив
                .dropdown.press-center_filter-dropdown.onlymobile
                    a(href="#",role="button").btn.btn-block.dropdown-toggle-press.dropdown-toggle#dropdownMenuLink
                        span.dropdown-toggle-press Все фотографии

                .press-center_rubrics-container.d-lg-flex.press-center_rubrics--photoarchivechoose
                    ul.press-center_rubrics.press-center_rubrics--photochoose.fixed

                        li
                            a(href="/photos.html",data-filter-show="1").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 01
                                p.link-text Порт «Бронка»
                        li
                            a(href="/photos.html",data-filter-show="zavod-izmeron").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 02
                                p.link-text Завод «Измерон»
                        li
                            a(href="/photos.html",data-filter-show="3").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 03
                                p.link-text Единый центр документов
                        li
                            a(href="/photos.html",data-filter-show="4").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 04
                                p.link-text ПНК им.Кирова
                        li
                            a(href="/photos.html",data-filter-show="5").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 05
                                p.link-text Бронка девелопмент
                        li
                            a(href="/photos.html",data-filter-show="6").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 06
                                p.link-text Ресторанная группа
                        li
                            a(href="/photos.html",data-filter-show="7").link.dropdown-desktop-link.dropdown-photos-mobile-link
                                span 07
                                p.link-text Сеть бутиков
            include jade/layout/scripts
