src/videos.jade
//- videos.jade
- var curPage = 'Видеобанк';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page


        #preloader

        .wrapper
            include jade/layout/header

            .section.no-gutters.section--videos
                h1.videos_title Пресс-центр / Видеобанк
                .row.no-gutters
                    .col-12.col-lg-4.order-2.order-lg-1
                        .photoarchive_content
                            h1
                                | Видеобанк
                            .page-menu.page-menu--videos.video-box-menu.video-box-menu--main
                                ul.video-box-menu-list
                                    li.active
                                        a(href="#01")
                                            | Порт «Бронка»
                                    li
                                        a(href="#02")
                                            | Бронка Девелопмент
                                    li
                                        a(href="#03")
                                            | Завод «Измерон»
                                    li
                                        a(href="#04")
                                            | ПНК Имени Кирова
                                    li
                                        a(href="#05")
                                            | Ресторанная группа
                                    li
                                        a(href="#06")
                                            | Единый центр документов
                                    li
                                        a(href="#07")
                                            | Сеть бутиков
                    .col-12.col-lg-8.video-box.order-1.order-lg-2
                        .video-box_carousel
                            .owl-carousel.js-block-videos(data-autoplay="true", data-autoplaytimeout="3000", data-loop="true", data-dots="true")


                                .video-box_preview.video-box_preview--page.js-video-box(data-video="nO7jjpWEt8k" data-poster="https://images.unsplash.com/photo-1470506985999-02ab5a78271c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1086&q=80" data-hash="01")
                                    .thumbnail_container
                                    .player
                                    button.play
                                        p.play-text Смотреть видео
                                        span
                                            +icon("play", "")

                                .video-box_preview.video-box_preview--page.js-video-box(data-video="nO7jjpWEt8k" data-hash="02")
                                    .thumbnail_container
                                    .player
                                    button.play
                                        p.play-text Смотреть видео
                                        span
                                            +icon("play", "")

                                .video-box_preview.video-box_preview--page.js-video-box(data-video="nO7jjpWEt8k" data-hash="03")
                                    .thumbnail_container
                                    .player
                                    button.play
                                        p.play-text Смотреть видео
                                        span
                                            +icon("play", "")

                                .video-box_preview.video-box_preview--page.js-video-box(data-video="nO7jjpWEt8k" data-hash="04")
                                    .thumbnail_container
                                    .player
                                    button.play
                                        p.play-text Смотреть видео
                                        span
                                            +icon("play", "")


        .section.section--footer.section--footer--inner.section--footer-article
            include jade/layout/footer-inner
        include jade/layout/scripts

static/videos.html
<!DOCTYPE html>
<html>
   <head lang="ru">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Бронка | Видеобанк</title>
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="">
      <meta name="format-detection" content="telephone=no">
      <link rel="stylesheet" href="css/main.css">
      <link rel="icon" type="image/ico" href="favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap" rel="stylesheet">
   </head>
   <body class="page">
      <div id="preloader"></div>
      <div class="wrapper">
         <div class="hamburger-container">
            <button type="button" aria-controls="navigation" class="hamburger hamburger--spring js-hamburger"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
         </div><!-- изменен -->
         <div class="header_buffer">           </div>
         <div class="header header--inner">
            <div class="row no-gutters align-items-lg-center">
               <div class="col-12 col-lg-4 popup-none">
                  <div data-aos="fade-in" data-aos-delay="0" data-aos-duration="1000" class="header_logo"><a href="/"><img src="img/logo-inner.svg"></a></div>
               </div>
               <div class="col-12 col-lg-8 popup-move">
                  <div id="navigation" class="header_menu"><a href="/" class="header_menu_navigation_logo"></a>
                     <ul class="inner inner-list">
                        <li data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000" class="outer outer--full"><a href="#" class="link link--company">О компании</a>
                           <ul class="animated animated--active animated--company">
                              <button type="button" id="company-back" class="arrow-back"></button>
                              <li class="first"><a href="/about.html" class="link">О нас</a></li>
                              <li><a href="/sovet.html" class="link">Руководство</a></li>
                              <li class="last"><a href="/policy.html" class="link link--policy">Политика обработки персональных данных</a></li>
                           </ul>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="100" data-aos-duration="1000" class="outer outer--full"><a href="#" class="link link--buisness">Наш бизнес</a>
                           <ul class="animated animated--active animated--buisness">
                              <button type="button" id="buisness-back" class="arrow-back"></button>
                              <li class="first"><a href="/object.html" class="link">Порт &laquo;Бронка&raquo;</a></li>
                              <li><a href="/object.html" class="link">Завод &laquo;Измерон&raquo;</a></li>
                              <li><a href="/object.html" class="link">Единый центр документов</a></li>
                              <li><a href="/object.html" class="link">Бронка девелопмент</a></li>
                              <li><a href="/object.html" class="link">Сеть бутиков</a></li>
                              <li><a href="/object.html" class="link">ПНК им. Кирова</a></li>
                              <li class="last"><a href="/object.html" class="link">Ресторанная группа</a></li>
                           </ul>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000" class="outer outer--full"><a href="#" class="link link--press">Пресс-центр</a>
                           <ul class="animated animated--active animated--press">
                              <button type="button" id="press-back" class="arrow-back"></button>
                              <li class="first"><a href="/press-center.html" class="link">Новости</a></li>
                              <li><a href="/photo-archive.html" class="link">Фотоархив</a></li>
                              <li class="last"><a href="/videos.html" class="link">Видеобанк</a></li>
                           </ul>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="200" data-aos-duration="1000"><a href="/work.html" class="link">Карьера</a></li>
                        <li data-aos="fade-in" data-aos-delay="250" data-aos-duration="1000"><a href="contacts.html" class="link">Контакты</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="section no-gutters section--videos">
            <h1 class="videos_title">Пресс-центр / Видеобанк</h1>
            <div class="row no-gutters">
               <div class="col-12 col-lg-4 order-2 order-lg-1">
                  <div class="photoarchive_content">
                     <h1>Видеобанк</h1>
                     <div class="page-menu page-menu--videos video-box-menu video-box-menu--main">
                        <ul class="video-box-menu-list">
                           <li class="active"><a href="#01">Порт «Бронка»</a></li>
                           <li><a href="#02">Бронка Девелопмент</a></li>
                           <li><a href="#03">Завод «Измерон»</a></li>
                           <li><a href="#04">ПНК Имени Кирова</a></li>
                           <li><a href="#05">Ресторанная группа</a></li>
                           <li><a href="#06">Единый центр документов</a></li>
                           <li><a href="#07">Сеть бутиков</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-12 col-lg-8 video-box order-1 order-lg-2">
                  <div class="video-box_carousel">
                     <div data-autoplay="true" data-autoplaytimeout="3000" data-loop="true" data-dots="true" class="owl-carousel js-block-videos">
                        <div data-video="nO7jjpWEt8k" data-poster="https://images.unsplash.com/photo-1470506985999-02ab5a78271c?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1086&amp;q=80" data-hash="01" class="video-box_preview video-box_preview--page js-video-box">
                           <div class="thumbnail_container"></div>
                           <div class="player"></div>
                           <button class="play">
                              <p class="play-text">Смотреть видео</p><span>
                                 <svg class="icon icon-play ">
                                    <use xlink:href="svg/sprite.svg#play"></use>
                                 </svg></span>
                           </button>
                        </div>
                        <div data-video="nO7jjpWEt8k" data-hash="02" class="video-box_preview video-box_preview--page js-video-box">
                           <div class="thumbnail_container"></div>
                           <div class="player"></div>
                           <button class="play">
                              <p class="play-text">Смотреть видео</p><span>
                                 <svg class="icon icon-play ">
                                    <use xlink:href="svg/sprite.svg#play"></use>
                                 </svg></span>
                           </button>
                        </div>
                        <div data-video="nO7jjpWEt8k" data-hash="03" class="video-box_preview video-box_preview--page js-video-box">
                           <div class="thumbnail_container"></div>
                           <div class="player"></div>
                           <button class="play">
                              <p class="play-text">Смотреть видео</p><span>
                                 <svg class="icon icon-play ">
                                    <use xlink:href="svg/sprite.svg#play"></use>
                                 </svg></span>
                           </button>
                        </div>
                        <div data-video="nO7jjpWEt8k" data-hash="04" class="video-box_preview video-box_preview--page js-video-box">
                           <div class="thumbnail_container"></div>
                           <div class="player"></div>
                           <button class="play">
                              <p class="play-text">Смотреть видео</p><span>
                                 <svg class="icon icon-play ">
                                    <use xlink:href="svg/sprite.svg#play"></use>
                                 </svg></span>
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="section section--footer section--footer--inner section--footer-article">
         <div class="footer">
            <div class="footer_content row no-gutters justify-content-between">
               <div class="col-12 col-sm-3 col-lg-auto">
                  <div class="footer_content_item footer_content_item--copyright">© bronkagroup, 2019</div>
               </div>
               <div class="col-12 col-sm-6 col-lg-auto">
                  <div class="footer_content_item footer_content_item--links"><a href="/sitemap.html" class="footer_content-link footer_content-link--main">Карта сайта</a><a href="/policy.html" class="footer_content-link footer_content-link--main">Политика обработки персональных данных</a><a href="/contacts.html" class="footer_content-link footer_content-link--main">Контакты</a><a id="feedback-btn" href="mailto:pr@bronkagroup.ru" class="footer_content-button">Обратная связь</a></div>
                  <div class="footer_content_item--button"><a href="mailto:pr@bronkagroup.ru" class="footer_content_item-btn">Обратная связь</a></div>
               </div>
               <div class="col-12 col-sm-3 col-lg-auto"><!-- изменен -->
                  <div class="footer_content_item footer_content_item--feedback d-lg-none text-center">Обратная связь</div><a href="mailto:pr@bronkagroup.ru" class="footer_content_item--feedback-link">Обратная связь</a>
                  <div class="footer_content_item footer_content_item--links footer_content_item--socials"><a href="https://www.instagram.com/bronkagroup/" target="_blank" class="footer_content-link footer_content-link--main">Instagram</a><a href="https://www.facebook.com/BronkaGroup/" target="_blank" class="footer_content-link footer_content-link--main">Facebook</a><a href="https://www.youtube.com/channel/UC0du2hDSIY769ZhMblL_HMw" target="_blank" class="footer_content-link footer_content-link--main">Youtube</a></div>
               </div>
               <div class="col-12 col-sm-4 col-lg-auto footer-search-field">
                  <div class="footer_content_item footer_content_item--search footer_content_item--search-other">
                     <form action="" class="footer_form">
                        <input type="text" placeholder="Поиск" id="form_control" class="form_control form_control--other">
                        <button type="button" class="btn">
                           <svg class="icon icon-search ">
                              <use xlink:href="svg/sprite.svg#search"></use>
                           </svg>
                        </button>
                     </form>
                  </div>
               </div>
               <div class="col-12 col-sm-4 col-lg-auto">
                  <div class="footer_content_item footer_content_item--authors"><a href="#" target="_blank">Разработка сайта – cake.ru</a></div>
               </div>
            </div>
         </div>
         <script src="https://unpkg.com/swiper/js/swiper.js"></script>
         <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
      </div>
      
      <script src="https://vjs.zencdn.net/7.4.1/video.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG7Ek_3rhqNhoHvYdsXewKn3LC_uNzLuE"></script>
      <script src="https://www.youtube.com/iframe_api"></script>
      <script src="js/main.js"></script>
   </body>
</html>
