src/work.jade
//- work.jade
- var curPage = 'Карьера';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.page

        #preloader

        .wrapper
            include jade/layout/header
            .section.section--content
                .row
                    .col-12.col-sm-10.col-lg-8.offset-lg-2
                        .arcticle-box_content
                            h1 Работа в компании

                            p «Бронка Групп» – один из крупнейших холдингов в Санкт-Петербурге, объединяющий успешные компании из различных областей бизнеса. Мы предлагаем уникальный опыт работы со знаковыми для города проектами и знаменитыми на весь мир брендами.

                            p Наш главный капитал – это люди. «Бронка Групп» инвестирует в развитие персонала, создает и поддерживает необходимые условия для профессионального роста сотрудников. Кадровая политика компании направлена на привлечение амбициозных и целеустремленных специалистов,
                            p стремящихся к профессиональному росту и развитию. Мы открыты новым идеям и инициативам.

                            img(src="img/content/work.jpg")
                            h2 Карьера в «Бронка групп» – это:
                            ul
                                li Стабильность и уверенность в завтрашнем дне 
                            
                                li Масштабные проекты 
                            
                                li Уникальный опыт в разных областях 
                            
                                li Инновационные подходы в решении ежедневных задач 
                            
                                li Внедрение передовых технологий 
                            
                                li Реализация творческого потенциала 
                            
                                li Профессиональное развитие в команде единомышленников 
                    
                            h2 Мы предлагаем комфортные условия труда: 
                            ul
                                li Офис в центре города 
                            
                                li Наличие парковки 
                            
                                li Разнообразное, здоровое питание с ресторанным обслуживанием (50% скидка на корпоративных фудкортах) 
                            
                                li Скидки на товары и услуги группы компаний 
                            
                                li Корпоративное обучение 
                            
                                li Поддержка профессионального развития сотрудников 
                            
                                li Продуманная система адаптации и развития персонала 


                                a(href="/career/documentation/") Документация
        .section.section--footer.section--footer--inner.section--footer-article
            include jade/layout/footer-inner
        include jade/layout/scripts

static/work.html
<!DOCTYPE html>
<html>
   <head lang="ru">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Бронка | Карьера</title>
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="">
      <meta name="format-detection" content="telephone=no">
      <link rel="stylesheet" href="css/main.css">
      <link rel="icon" type="image/ico" href="favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap" rel="stylesheet">
   </head>
   <body class="page">
      <div id="preloader"></div>
      <div class="wrapper">
         <div class="hamburger-container">
            <button type="button" aria-controls="navigation" class="hamburger hamburger--spring js-hamburger"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
         </div><!-- изменен -->
         <div class="header_buffer">           </div>
         <div class="header header--inner">
            <div class="row no-gutters align-items-lg-center">
               <div class="col-12 col-lg-4 popup-none">
                  <div data-aos="fade-in" data-aos-delay="0" data-aos-duration="1000" class="header_logo"><a href="/"><img src="img/logo-inner.svg"></a></div>
               </div>
               <div class="col-12 col-lg-8 popup-move">
                  <div id="navigation" class="header_menu"><a href="/" class="header_menu_navigation_logo"></a>
                     <ul class="inner inner-list">
                        <li data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000" class="outer outer--full"><a href="#" class="link link--company">О компании</a>
                           <ul class="animated animated--active animated--company">
                              <button type="button" id="company-back" class="arrow-back"></button>
                              <li class="first"><a href="/about.html" class="link">О нас</a></li>
                              <li><a href="/sovet.html" class="link">Руководство</a></li>
                              <li class="last"><a href="/policy.html" class="link link--policy">Политика обработки персональных данных</a></li>
                           </ul>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="100" data-aos-duration="1000" class="outer outer--full"><a href="#" class="link link--buisness">Наш бизнес</a>
                           <ul class="animated animated--active animated--buisness">
                              <button type="button" id="buisness-back" class="arrow-back"></button>
                              <li class="first"><a href="/object.html" class="link">Порт &laquo;Бронка&raquo;</a></li>
                              <li><a href="/object.html" class="link">Завод &laquo;Измерон&raquo;</a></li>
                              <li><a href="/object.html" class="link">Единый центр документов</a></li>
                              <li><a href="/object.html" class="link">Бронка девелопмент</a></li>
                              <li><a href="/object.html" class="link">Сеть бутиков</a></li>
                              <li><a href="/object.html" class="link">ПНК им. Кирова</a></li>
                              <li class="last"><a href="/object.html" class="link">Ресторанная группа</a></li>
                           </ul>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000" class="outer outer--full"><a href="#" class="link link--press">Пресс-центр</a>
                           <ul class="animated animated--active animated--press">
                              <button type="button" id="press-back" class="arrow-back"></button>
                              <li class="first"><a href="/press-center.html" class="link">Новости</a></li>
                              <li><a href="/photo-archive.html" class="link">Фотоархив</a></li>
                              <li class="last"><a href="/videos.html" class="link">Видеобанк</a></li>
                           </ul>
                        </li>
                        <li data-aos="fade-in" data-aos-delay="200" data-aos-duration="1000"><a href="/work.html" class="link">Карьера</a></li>
                        <li data-aos="fade-in" data-aos-delay="250" data-aos-duration="1000"><a href="contacts.html" class="link">Контакты</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="section section--content">
            <div class="row">
               <div class="col-12 col-sm-10 col-lg-8 offset-lg-2">
                  <div class="arcticle-box_content">
                     <h1>Работа в компании</h1>
                     <p>«Бронка Групп» – один из крупнейших холдингов в Санкт-Петербурге, объединяющий успешные компании из различных областей бизнеса. Мы предлагаем уникальный опыт работы со знаковыми для города проектами и знаменитыми на весь мир брендами.</p>
                     <p>Наш главный капитал – это люди. «Бронка Групп» инвестирует в развитие персонала, создает и поддерживает необходимые условия для профессионального роста сотрудников. Кадровая политика компании направлена на привлечение амбициозных и целеустремленных специалистов,</p>
                     <p>стремящихся к профессиональному росту и развитию. Мы открыты новым идеям и инициативам.</p><img src="img/content/work.jpg">
                     <h2>Карьера в «Бронка групп» – это:</h2>
                     <ul>
                        <li>Стабильность и уверенность в завтрашнем дне </li>
                        <li>Масштабные проекты </li>
                        <li>Уникальный опыт в разных областях </li>
                        <li>Инновационные подходы в решении ежедневных задач </li>
                        <li>Внедрение передовых технологий </li>
                        <li>Реализация творческого потенциала </li>
                        <li>Профессиональное развитие в команде единомышленников </li>
                     </ul>
                     <h2>Мы предлагаем комфортные условия труда: </h2>
                     <ul>
                        <li>Офис в центре города </li>
                        <li>Наличие парковки </li>
                        <li>Разнообразное, здоровое питание с ресторанным обслуживанием (50% скидка на корпоративных фудкортах) </li>
                        <li>Скидки на товары и услуги группы компаний </li>
                        <li>Корпоративное обучение </li>
                        <li>Поддержка профессионального развития сотрудников </li>
                        <li>Продуманная система адаптации и развития персонала </li><a href="/career/documentation/">Документация</a>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="section section--footer section--footer--inner section--footer-article">
         <div class="footer">
            <div class="footer_content row no-gutters justify-content-between">
               <div class="col-12 col-sm-3 col-lg-auto">
                  <div class="footer_content_item footer_content_item--copyright">© bronkagroup, 2019</div>
               </div>
               <div class="col-12 col-sm-6 col-lg-auto">
                  <div class="footer_content_item footer_content_item--links"><a href="/sitemap.html" class="footer_content-link footer_content-link--main">Карта сайта</a><a href="/policy.html" class="footer_content-link footer_content-link--main">Политика обработки персональных данных</a><a href="/contacts.html" class="footer_content-link footer_content-link--main">Контакты</a><a id="feedback-btn" href="mailto:pr@bronkagroup.ru" class="footer_content-button">Обратная связь</a></div>
                  <div class="footer_content_item--button"><a href="mailto:pr@bronkagroup.ru" class="footer_content_item-btn">Обратная связь</a></div>
               </div>
               <div class="col-12 col-sm-3 col-lg-auto"><!-- изменен -->
                  <div class="footer_content_item footer_content_item--feedback d-lg-none text-center">Обратная связь</div><a href="mailto:pr@bronkagroup.ru" class="footer_content_item--feedback-link">Обратная связь</a>
                  <div class="footer_content_item footer_content_item--links footer_content_item--socials"><a href="https://www.instagram.com/bronkagroup/" target="_blank" class="footer_content-link footer_content-link--main">Instagram</a><a href="https://www.facebook.com/BronkaGroup/" target="_blank" class="footer_content-link footer_content-link--main">Facebook</a><a href="https://www.youtube.com/channel/UC0du2hDSIY769ZhMblL_HMw" target="_blank" class="footer_content-link footer_content-link--main">Youtube</a></div>
               </div>
               <div class="col-12 col-sm-4 col-lg-auto footer-search-field">
                  <div class="footer_content_item footer_content_item--search footer_content_item--search-other">
                     <form action="" class="footer_form">
                        <input type="text" placeholder="Поиск" id="form_control" class="form_control form_control--other">
                        <button type="button" class="btn">
                           <svg class="icon icon-search ">
                              <use xlink:href="svg/sprite.svg#search"></use>
                           </svg>
                        </button>
                     </form>
                  </div>
               </div>
               <div class="col-12 col-sm-4 col-lg-auto">
                  <div class="footer_content_item footer_content_item--authors"><a href="#" target="_blank">Разработка сайта – cake.ru</a></div>
               </div>
            </div>
         </div>
         <script src="https://unpkg.com/swiper/js/swiper.js"></script>
         <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
      </div>
      
      <script src="https://vjs.zencdn.net/7.4.1/video.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG7Ek_3rhqNhoHvYdsXewKn3LC_uNzLuE"></script>
      <script src="https://www.youtube.com/iframe_api"></script>
      <script src="js/main.js"></script>
   </body>
</html>
